In [55]:
import numpy as np
import pandas as pd
import os
import statsmodels.api as sm
from statsmodels.tsa.api import VAR
from datetime import datetime

In [8]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\경제지표')
Intr = pd.read_csv('시장금리(KORIBOR)_2011~202104_일단위.csv', encoding = 'cp949')

In [9]:
Intr.index = Intr['날짜']
del Intr['날짜']
Intr

            시장금리
날짜
2011-01-03  3.32
2011-01-04  3.33
2011-01-05  3.33
2011-01-06  3.32
2011-01-07  3.31
...          ...
2021-04-23  0.84
2021-04-26  0.84
2021-04-27  0.84
2021-04-28  0.83
2021-04-29  0.83

[2554 rows x 1 columns]

In [15]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축')
daily = pd.read_csv('상인점_2018~202104_일별매출.csv', encoding = 'cp949')
daily

            매출일자  고객수       매출금액 할인금액       실매출액      부가세      순매출금액
0     2018-01-01  171  3,314,000    0  3,314,000  301,069  3,012,931
1     2018-01-02  128  2,020,500    0  2,020,500  183,542  1,836,958
2     2018-01-03  119  2,019,500    0  2,019,500  183,463  1,836,037
3     2018-01-04  118  2,178,000    0  2,178,000  197,869  1,980,131
4     2018-01-05  135  2,401,500    0  2,401,500  218,167  2,183,333
...          ...  ...        ...  ...        ...      ...        ...
1177  2021-04-25  100  1,810,000    0  1,810,000  164,450  1,645,550
1178  2021-04-26   60  1,348,000    0  1,348,000  122,487  1,225,513
1179  2021-04-27   57  1,170,500    0  1,170,500  106,349  1,064,151
1180  2021-04-28   54    956,000    0    956,000   86,854    869,146
1181  2021-04-29   64  1,142,500    0  1,142,500  103,797  1,038,703

[1182 rows x 7 columns]

In [14]:
df_model

                 매출금액
매출일자
2018-01-01  3,314,000
2018-01-02  2,020,500
2018-01-03  2,019,500
2018-01-04  2,178,000
2018-01-05  2,401,500
...               ...
2021-04-25  1,810,000
2021-04-26  1,348,000
2021-04-27  1,170,500
2021-04-28    956,000
2021-04-29  1,142,500

[1182 rows x 1 columns]

In [16]:
df_model = pd.DataFrame()

df_model['매출금액'] = daily['매출금액']

df_model['매출일자'] = daily['매출일자']
df_model.index = df_model['매출일자']
del df_model['매출일자']

df_model['시장금리'] = Intr['시장금리']
df_model

                 매출금액  시장금리
매출일자
2018-01-01  3,314,000   NaN
2018-01-02  2,020,500  1.99
2018-01-03  2,019,500  1.96
2018-01-04  2,178,000  1.95
2018-01-05  2,401,500  1.95
...               ...   ...
2021-04-25  1,810,000   NaN
2021-04-26  1,348,000  0.84
2021-04-27  1,170,500  0.84
2021-04-28    956,000  0.83
2021-04-29  1,142,500  0.83

[1182 rows x 2 columns]

In [17]:
df_model

                 매출금액  시장금리
매출일자
2018-01-01  3,314,000   NaN
2018-01-02  2,020,500  1.99
2018-01-03  2,019,500  1.96
2018-01-04  2,178,000  1.95
2018-01-05  2,401,500  1.95
...               ...   ...
2021-04-25  1,810,000   NaN
2021-04-26  1,348,000  0.84
2021-04-27  1,170,500  0.84
2021-04-28    956,000  0.83
2021-04-29  1,142,500  0.83

[1182 rows x 2 columns]

In [19]:
df_model['전날시장금리'] = df_model['시장금리'].shift(1)
df_model['이틀전시장금리'] = df_model['시장금리'].shift(2)
df_model['3일전시장금리'] = df_model['시장금리'].shift(3)
df_model

                 매출금액  시장금리  전날시장금리  이틀전시장금리  3일전시장금리
매출일자
2018-01-01  3,314,000   NaN     NaN      NaN      NaN
2018-01-02  2,020,500  1.99     NaN      NaN      NaN
2018-01-03  2,019,500  1.96    1.99      NaN      NaN
2018-01-04  2,178,000  1.95    1.96     1.99      NaN
2018-01-05  2,401,500  1.95    1.95     1.96     1.99
...               ...   ...     ...      ...      ...
2021-04-25  1,810,000   NaN     NaN     0.84     0.84
2021-04-26  1,348,000  0.84     NaN      NaN     0.84
2021-04-27  1,170,500  0.84    0.84      NaN      NaN
2021-04-28    956,000  0.83    0.84     0.84      NaN
2021-04-29  1,142,500  0.83    0.83     0.84     0.84

[1182 rows x 5 columns]

In [20]:
for i, intr in enumerate(df_model.index) :
    if np.isnan(df_model.loc[intr,'시장금리']) == True :
        if np.isnan(df_model.loc[intr,'전날시장금리']) == False :
            df_model.loc[intr,'시장금리'] = df_model.loc[intr,'전날시장금리']
        elif np.isnan(df_model.loc[intr,'이틀전시장금리']) == False :
            df_model.loc[intr,'시장금리'] = df_model.loc[intr,'이틀전시장금리']
        elif np.isnan(df_model.loc[intr,'3일전시장금리']) == False :
            df_model.loc[intr,'시장금리'] = df_model.loc[intr,'3일전시장금리']
df_model.iloc[0, 1] = 1.99

In [21]:
del df_model['전날시장금리'], df_model['이틀전시장금리'], df_model['3일전시장금리']
df_model

                 매출금액  시장금리
매출일자
2018-01-01  3,314,000  1.99
2018-01-02  2,020,500  1.99
2018-01-03  2,019,500  1.96
2018-01-04  2,178,000  1.95
2018-01-05  2,401,500  1.95
...               ...   ...
2021-04-25  1,810,000  0.84
2021-04-26  1,348,000  0.84
2021-04-27  1,170,500  0.84
2021-04-28    956,000  0.83
2021-04-29  1,142,500  0.83

[1182 rows x 2 columns]

In [22]:
df_model['시장금리'].tolist()

[1.99,
 1.99,
 1.96,
 1.95,
 1.95,
 1.95,
 1.95,
 1.94,
 1.94,
 1.94,
 1.95,
 1.95,
 1.95,
 1.95,
 1.94,
 1.95,
 1.95,
 1.95,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.96,
 1.96,
 1.96,
 1.96,
 1.96,
 1.96,
 1.95,
 1.96,
 1.96,
 1.96,
 1.97,
 1.97,
 1.97,
 1.98,
 1.98,
 1.99,
 1.99,
 1.99,
 1.99,
 2.0,
 2.01,
 2.01,
 2.0,
 2.0,
 2.0,
 1.99,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.01,
 2.02,
 2.03,
 2.04,
 2.06,
 2.06,
 2.06,
 2.07,
 2.07,
 2.07,
 2.07,
 2.07,
 2.07,
 2.07,
 2.07,
 2.07,
 2.07,
 2.05,
 2.05,
 2.05,
 2.04,
 2.04,
 2.04,
 2.04,
 2.04,
 2.04,
 2.04,
 2.04,
 2.04,
 2.02,
 2.0,
 1.99,
 1.99,
 1.99,
 1.99,
 1.99,
 1.99,
 1.98,
 1.98,
 1.98,
 1.98,
 1.98,
 1.98,
 1.97,
 1.98,
 1.97,
 1.97,
 1.97,
 1.98,
 1.98,
 1.98,
 1.99,
 1.99,
 1.99,
 1.99,
 1.98,
 1.98,
 1.98,
 1.98,
 1.98,
 1.98,
 1.98,
 1.98,
 1.99,
 2.0,
 2.01,
 2.02,
 2.02,
 2.02,
 2.03,
 2.04,
 2.04,
 2.03,
 2.02,
 2.02,
 2.02,
 1.99,
 1.99,
 1.99,
 2.0,
 1.99,
 1.99,
 1.99,
 1.99,
 1.99,
 1.99,
 1.98,
 1.98,
 1.98,
 1.98,
 1.98,
 1.98,
 1.98,
 1.99,
 1.98,
 1.98,
 1.98,
 1.99,
 2.0,
 2.0,
 2.01,
 2.02,
 2.02,
 2.02,
 2.02,
 2.02,
 2.03,
 2.03,
 2.03,
 2.03,
 2.03,
 2.04,
 2.04,
 2.04,
 2.04,
 2.04,
 2.04,
 2.04,
 2.04,
 2.03,
 2.02,
 2.02,
 2.01,
 2.01,
 2.01,
 2.01,
 2.01,
 1.99,
 1.98,
 2.0,
 2.0,
 2.0,
 2.01,
 2.01,
 2.01,
 2.0,
 1.99,
 1.99,
 1.99,
 1.98,
 1.98,
 1.98,
 1.99,
 1.98,
 1.98,
 1.98,
 2.0,
 2.01,
 2.01,
 2.01,
 2.01,
 2.01,
 2.01,
 2.01,
 2.0,
 2.0,
 1.99,
 1.98,
 1.98,
 1.98,
 1.98,
 1.98,
 1.98,
 1.98,
 1.98,
 1.98,
 1.98,
 1.97,
 1.96,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.96,
 1.96,
 1.96,
 1.94,
 1.94,
 1.94,
 1.93,
 1.93,
 1.93,
 1.93,
 1.95,
 1.95,
 1.95,
 1.95,
 1.96,
 1.96,
 1.96,
 1.97,
 1.98,
 1.99,
 2.01,
 2.02,
 2.02,
 2.02,
 2.02,
 nan,
 2.04,
 2.06,
 2.06,
 2.06,
 2.06,
 2.06,
 2.06,
 2.06,
 2.06,
 2.06,
 2.06,
 2.08,
 2.08,
 2.08,
 2.07,
 2.06,
 2.06,
 2.06,
 2.07,
 2.09,
 2.09,
 2.09,
 2.08,
 2.08,
 2.08,
 2.08,
 2.09,
 2.09,
 2.1,
 2.11,
 2.11,
 2.11,
 2.11,
 2.1,
 2.11,
 2.11,
 2.1,
 2.1,
 2.1,
 2.11,
 2.09,
 2.09,
 2.07,
 2.07,
 2.07,
 2.07,
 2.07,
 2.06,
 2.06,
 2.06,
 2.07,
 2.07,
 2.07,
 2.06,
 2.06,
 2.06,
 2.06,
 2.06,
 2.06,
 2.06,
 2.06,
 2.05,
 2.06,
 2.06,
 2.07,
 2.07,
 2.07,
 2.07,
 2.07,
 2.06,
 2.05,
 2.05,
 2.05,
 2.05,
 2.04,
 2.03,
 2.02,
 2.01,
 2.01,
 2.01,
 2.01,
 2.02,
 2.01,
 2.0,
 1.99,
 1.99,
 1.99,
 1.99,
 2.01,
 2.01,
 2.01,
 2.01,
 2.01,
 2.01,
 2.01,
 2.01,
 2.01,
 2.02,
 1.99,
 1.98,
 1.98,
 1.98,
 1.96,
 1.94,
 1.93,
 1.92,
 1.93,
 1.93,
 1.93,
 1.93,
 1.93,
 1.93,
 1.93,
 1.93,
 1.93,
 1.93,
 1.93,
 1.93,
 1.92,
 1.92,
 1.92,
 1.92,
 1.92,
 1.92,
 1.93,
 1.93,
 1.93,
 1.93,
 1.93,
 1.93,
 1.93,
 1.93,
 1.94,
 1.94,
 1.94,
 1.93,
 1.93,
 1.93,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.95,
 1.95,
 1.95,
 1.95,
 1.95,
 1.95,
 1.95,
 1.95,
 1.95,
 1.95,
 1.95,
 1.95,
 1.95,
 1.94,
 1.94,
 1.94,
 1.94,
 1.95,
 1.95,
 1.95,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.94,
 1.93,
 1.93,
 1.92,
 1.9,
 1.9,
 1.9,
 1.88,
 1.88,
 1.87,
 1.87,
 1.87,
 1.87,
 1.87,
 1.87,
 1.87,
 1.87,
 1.87,
 1.87,
 1.87,
 1.87,
 1.87,
 1.87,
 1.87,
 1.87,
 1.87,
 1.87,
 1.87,
 1.87,
 1.87,
 1.87,
 1.87,
 1.86,
 1.86,
 1.86,
 1.86,
 1.86,
 1.86,
 1.86,
 1.86,
 1.86,
 1.86,
 1.86,
 1.85,
 1.85,
 1.85,
 1.84,
 1.84,
 1.84,
 1.84,
 1.84,
 1.83,
 1.83,
 1.83,
 1.83,
 1.83,
 1.82,
 1.82,
 1.82,
 1.81,
 1.81,
 1.81,
 1.81,
 1.81,
 1.81,
 1.8,
 1.8,
 1.79,
 1.79,
 1.79,
 1.77,
 1.77,
 1.77,
 1.77,
 1.76,
 1.76,
 1.76,
 1.75,
 1.73,
 1.72,
 1.7,
 1.69,
 1.69,
 1.69,
 1.69,
 1.69,
 1.69,
 1.68,
 1.68,
 1.68,
 1.68,
 1.68,
 1.68,
 1.68,
 1.69,
 1.7,
 1.7,
 1.7,
 1.69,
 1.69,
 1.68,
 1.67,
 1.66,
 1.66,
 1.66,
 1.65,
 1.65,
 1.4,
 1.39,
 1.38,
 1.38,
 1.38,
 1.38,
 1.38,
 1.38,
 1.37,
 1.37,
 1.36,
 1.36,
 1.36,
 1.35,
 1.34,
 1.34,
 1.34,
 1.35,
 1.35,
 1.35,
 1.35,
 1.35,
 1.36,
 1.37,
 1.37,
 1.37,
 1.37,
 1.37,
 1.4,
 1.41,
 1.44,
 1.46,
 1.46,
 1.46,
 1.47,
 1.47,
 1.47,
 1.47,
 1.47,
 1.47,
 nan,
 1.48,
 1.5,
 1.5,
 1.51,
 1.51,
 1.51,
 1.51,
 1.52,
 1.52,
 1.52,
 1.53,
 1.53,
 1.53,
 1.53,
 1.53,
 1.53,
 1.53,
 1.53,
 1.51,
 1.51,
 1.51,
 1.48,
 1.47,
 1.47,
 1.47,
 1.47,
 1.47,
 1.47,
 1.47,
 1.47,
 1.44,
 1.42,
 1.44,
 1.44,
 1.44,
 1.44,
 1.45,
 1.45,
 1.46,
 1.47,
 1.47,
 1.47,
 1.5,
 1.54,
 1.54,
 1.53,
 1.53,
 1.53,
 1.53,
 1.54,
 1.56,
 1.56,
 1.57,
 1.57,
 1.57,
 1.57,
 1.58,
 1.59,
 1.6,
 1.6,
 1.61,
 1.61,
 1.61,
 1.62,
 1.62,
 1.62,
 1.62,
 1.63,
 1.63,
 1.63,
 1.62,
 1.62,
 1.62,
 1.62,
 1.62,
 1.62,
 1.62,
 1.6,
 1.6,
 1.59,
 1.58,
 1.58,
 1.58,
 1.58,
 1.58,
 1.58,
 1.58,
 1.57,
 1.57,
 1.57,
 1.57,
 1.57,
 1.56,
 1.56,
 1.56,
 1.56,
 1.56,
 1.56,
 1.56,
 1.56,
 1.56,
 1.56,
 1.56,
 1.56,
 1.56,
 1.55,
 1.55,
 1.55,
 1.54,
 1.52,
 1.52,
 1.52,
 1.5,
 1.48,
 1.47,
 1.47,
 1.47,
 1.47,
 1.47,
 1.48,
 1.48,
 1.48,
 1.48,
 1.49,
 1.49,
 1.49,
 1.49,
 1.5,
 1.49,
 1.49,
 1.49,
 1.49,
 1.49,
 nan,
 1.48,
 1.47,
 1.46,
 1.45,
 1.45,
 1.45,
 1.43,
 1.42,
 1.42,
 1.42,
 1.41,
 1.41,
 1.41,
 1.4,
 1.38,
 1.38,
 1.38,
 1.37,
 1.37,
 1.37,
 1.38,
 1.38,
 1.36,
 1.36,
 1.34,
 1.34,
 1.34,
 1.31,
 1.29,
 1.29,
 1.28,
 1.29,
 1.29,
 1.29,
 1.27,
 1.28,
 1.27,
 1.23,
 1.23,
 1.23,
 1.23,
 1.22,
 1.21,
 1.21,
 1.21,
 1.22,
 1.22,
 1.22,
 1.23,
 1.15,
 1.1,
 1.1,
 1.15,
 1.15,
 1.15,
 1.16,
 1.22,
 1.25,
 1.28,
 1.3,
 1.3,
 1.3,
 1.32,
 1.33,
 1.3,
 1.28,
 1.25,
 1.25,
 1.25,
 1.21,
 1.19,
 1.17,
 1.15,
 1.13,
 1.13,
 1.13,
 1.13,
 1.13,
 1.13,
 1.13,
 1.13,
 1.13,
 1.13,
 1.14,
 1.14,
 1.14,
 1.14,
 1.13,
 1.13,
 1.13,
 1.12,
 1.12,
 1.12,
 1.12,
 1.12,
 1.12,
 nan,
 1.12,
 1.12,
 1.12,
 1.11,
 1.1,
 1.1,
 1.1,
 1.09,
 1.08,
 1.07,
 1.06,
 1.05,
 1.05,
 1.05,
 1.04,
 1.03,
 1.02,
 1.01,
 1.01,
 1.01,
 1.01,
 1.0,
 0.99,
 0.98,
 0.93,
 0.88,
 0.88,
 0.88,
 0.84,
 0.83,
 0.82,
 0.84,
 0.85,
 0.85,
 0.85,
 0.85,
 0.86,
 0.86,
 0.86,
 0.87,
 0.87,
 0.87,
 0.88,
 0.9,
 0.91,
 0.92,
 0.92,
 0.92,
 0.92,
 0.91,
 0.9,
 0.89,
 0.89,
 0.89,
 0.89,
 0.89,
 0.89,
 0.89,
 0.88,
 0.86,
 0.84,
 0.84,
 0.84,
 0.84,
 0.84,
 0.83,
 0.83,
 0.82,
 0.82,
 0.82,
 0.82,
 0.82,
 0.81,
 0.81,
 0.81,
 0.81,
 0.81,
 0.81,
 0.8,
 0.79,
 0.79,
 0.78,
 0.78,
 0.78,
 0.78,
 0.78,
 0.78,
 0.78,
 0.78,
 0.78,
 0.78,
 0.77,
 0.77,
 0.77,
 0.77,
 0.77,
 0.77,
 0.77,
 0.77,
 0.78,
 0.78,
 0.79,
 0.79,
 0.79,
 0.79,
 0.79,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.82,
 0.82,
 0.83,
 0.84,
 0.84,
 0.84,
 0.84,
 0.86,
 0.87,
 0.88,
 0.88,
 0.89,
 0.89,
 0.89,
 0.9,
 0.91,
 0.91,
 0.91,
 0.91,
 0.91,
 0.91,
 0.91,
 0.9,
 0.89,
 0.89,
 0.9,
 0.9,
 0.9,
 0.91,
 0.91,
 0.92,
 0.92,
 0.92,
 0.92,
 0.92,
 0.92,
 0.92,
 0.92,
 0.92,
 0.92,
 nan,
 nan,
 0.92,
 0.92,
 0.92,
 0.91,
 0.91,
 0.91,
 0.91,
 0.91,
 0.91,
 0.9,
 0.9,
 0.9,
 0.9,
 0.9,
 0.89,
 0.89,
 0.89,
 0.89,
 0.89,
 0.89,
 0.89,
 0.89,
 0.89,
 0.89,
 0.89,
 ...]

In [23]:
sales_list = []
itr_list = []
for sa, itr in zip(df_model['매출금액'], df_model['시장금리']) :
    sa = sa.replace(',', '')
    sales_list.append(int(sa))
    #itr_list.append(int(itr))

In [24]:
df_model['매출금액'] = sales_list
df_model

               매출금액  시장금리
매출일자
2018-01-01  3314000  1.99
2018-01-02  2020500  1.99
2018-01-03  2019500  1.96
2018-01-04  2178000  1.95
2018-01-05  2401500  1.95
...             ...   ...
2021-04-25  1810000  0.84
2021-04-26  1348000  0.84
2021-04-27  1170500  0.84
2021-04-28   956000  0.83
2021-04-29  1142500  0.83

[1182 rows x 2 columns]

In [26]:
df_model.to_csv('매출액_시장금리.csv', encoding = 'cp949')

In [ ]:
df_model_in = df_model.diff().dropna()
df_model_in ## 차분

In [253]:
df_model_logdiff = np.log(df_model).diff().dropna()
df_model_logdiff  ##분산차분

                매출금액      시장금리
매출일자
2018-01-02 -0.494811  0.000000
2018-01-03 -0.000495 -0.015190
2018-01-04  0.075557 -0.005115
2018-01-05  0.097687  0.000000
2018-01-06  0.161884  0.000000
...              ...       ...
2021-04-25 -0.176550  0.000000
2021-04-26 -0.294705  0.000000
2021-04-27 -0.141191  0.000000
2021-04-28 -0.202428 -0.011976
2021-04-29  0.178216  0.000000

[1177 rows x 2 columns]

In [255]:
model = VAR(df_model_logdiff)
results = model.fit(84)
results.summary()

C:\Users\alswo\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:583: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Sat, 01, May, 2021
Time:                     22:24:08
--------------------------------------------------------------------
No. of Equations:         2.00000    BIC:                   -9.90074
Nobs:                     1093.00    HQIC:                  -10.8612
Log likelihood:           3491.40    FPE:                1.07466e-05
AIC:                     -11.4459    Det(Omega_mle):     8.06108e-06
--------------------------------------------------------------------
Results for equation 매출금액
===========================================================================
              coefficient       std. error           t-stat            prob
---------------------------------------------------------------------------
const            0.002744         0.009887            0.278           0.781
L1.매출금액         -0.821297         0.032932          -24.939           0.000
L1.시장금리         -1.214650         0.968477           -1.254           0.210
L2.매출금액         -0.718529         0.042850          -16.768           0.000
L2.시장금리          0.467020         0.969192            0.482           0.630
L3.매출금액         -0.593588         0.049093          -12.091           0.000
L3.시장금리         -0.062864         0.975981           -0.064           0.949
L4.매출금액         -0.568583         0.052840          -10.760           0.000
L4.시장금리          0.008812         0.979343            0.009           0.993
L5.매출금액         -0.500212         0.055997           -8.933           0.000
L5.시장금리         -0.738993         0.980802           -0.753           0.451
L6.매출금액         -0.384804         0.058319           -6.598           0.000
L6.시장금리          0.181250         0.982176            0.185           0.854
L7.매출금액         -0.165697         0.059558           -2.782           0.005
L7.시장금리          0.031108         0.979936            0.032           0.975
L8.매출금액         -0.111530         0.059719           -1.868           0.062
L8.시장금리          1.933590         0.976980            1.979           0.048
L9.매출금액         -0.197059         0.059763           -3.297           0.001
L9.시장금리         -0.411494         0.979260           -0.420           0.674
L10.매출금액        -0.260483         0.059910           -4.348           0.000
L10.시장금리        -0.180557         0.979181           -0.184           0.854
L11.매출금액        -0.250426         0.060378           -4.148           0.000
L11.시장금리         0.729802         0.978451            0.746           0.456
L12.매출금액        -0.235540         0.060918           -3.867           0.000
L12.시장금리        -1.659010         0.977668           -1.697           0.090
L13.매출금액        -0.229934         0.061346           -3.748           0.000
L13.시장금리        -1.085668         0.978507           -1.110           0.267
L14.매출금액        -0.136357         0.061772           -2.207           0.027
L14.시장금리         0.993924         0.979132            1.015           0.310
L15.매출금액        -0.083601         0.061866           -1.351           0.177
L15.시장금리         0.466039         0.977809            0.477           0.634
L16.매출금액        -0.042023         0.061899           -0.679           0.497
L16.시장금리         1.316446         0.975725            1.349           0.177
L17.매출금액        -0.024343         0.061889           -0.393           0.694
L17.시장금리         0.535590         0.975315            0.549           0.583
L18.매출금액        -0.074221         0.061701           -1.203           0.229
L18.시장금리        -0.308593         0.976408           -0.316           0.752
L19.매출금액        -0.192377         0.061606           -3.123           0.002
L19.시장금리        -0.816884         0.976212           -0.837           0.403
L20.매출금액        -0.118983         0.061659           -1.930           0.054
L20.시장금리        -0.571844         0.977077           -0.585           0.558
L21.매출금액        -0.037830         0.061747           -0.613           0.540
L21.시장금리        -0.675858         0.975554           -0.693           0.488
L22.매출금액        -0.026563         0.061703           -0.430           0.667
L22.시장금리         0.591837         0.976072            0.606           0.544
L23.매출금액        -0.069307         0.061585           -1.125           0.260
L23.시장금리        -0.501763         0.974987           -0.515           0.607
L24.매출금액        -0.046369         0.061421           -0.755           0.450
L24.시장금리        -0.967214         0.975295           -0.992           0.321
L25.매출금액        -0.006175         0.061357           -0.101           0.920
L25.시장금리         0.936130         0.975000            0.960           0.337
L26.매출금액         0.033517         0.061305            0.547           0.585
L26.시장금리         1.914630         0.971637            1.971           0.049
L27.매출금액         0.055233         0.061184            0.903           0.367
L27.시장금리         0.470930         0.972933            0.484           0.628
L28.매출금액         0.056019         0.061126            0.916           0.359
L28.시장금리        -0.096631         0.973097           -0.099           0.921
L29.매출금액         0.046162         0.061093            0.756           0.450
L29.시장금리        -0.356061         0.974934           -0.365           0.715
L30.매출금액         0.030244         0.060962            0.496           0.620
L30.시장금리         0.326198         0.973408            0.335           0.738
L31.매출금액         0.026465         0.060854            0.435           0.664
L31.시장금리        -0.150933         0.972899           -0.155           0.877
L32.매출금액        -0.036286         0.060786           -0.597           0.551
L32.시장금리        -0.041899         0.972796           -0.043           0.966
L33.매출금액        -0.068296         0.060780           -1.124           0.261
L33.시장금리        -0.654825         0.973004           -0.673           0.501
L34.매출금액        -0.051874         0.060903           -0.852           0.394
L34.시장금리         0.120755         0.972243            0.124           0.901
L35.매출금액         0.033041         0.061016            0.542           0.588
L35.시장금리         0.106972         0.972435            0.110           0.912
L36.매출금액         0.035044         0.061144            0.573           0.567
L36.시장금리         0.968083         0.972036            0.996           0.319
L37.매출금액        -0.006183         0.061223           -0.101           0.920
L37.시장금리        -1.964514         0.973302           -2.018           0.044
L38.매출금액        -0.024558         0.061190           -0.401           0.688
L38.시장금리        -0.304930         0.975520           -0.313           0.755
L39.매출금액        -0.063515         0.061184           -1.038           0.299
L39.시장금리        -0.533383         0.975465           -0.547           0.585
L40.매출금액        -0.046835         0.061148           -0.766           0.444
L40.시장금리        -0.352497         0.975615           -0.361           0.718
L41.매출금액        -0.048533         0.061074           -0.795           0.427
L41.시장금리        -0.006282         0.975434           -0.006           0.995
L42.매출금액        -0.039503         0.061039           -0.647           0.518
L42.시장금리        -0.609117         0.974729           -0.625           0.532
L43.매출금액        -0.032830         0.060979           -0.538           0.590
L43.시장금리         0.629888         0.974592            0.646           0.518
L44.매출금액        -0.038682         0.060797           -0.636           0.525
L44.시장금리         1.301050         0.975081            1.334           0.182
L45.매출금액        -0.040582         0.060581           -0.670           0.503
L45.시장금리         1.266542         0.976953            1.296           0.195
L46.매출금액        -0.034590         0.060431           -0.572           0.567
L46.시장금리        -0.754103         0.978703           -0.771           0.441
L47.매출금액        -0.009063         0.060307           -0.150           0.881
L47.시장금리        -0.158734         0.978498           -0.162           0.871
L48.매출금액         0.005688         0.060183            0.095           0.925
L48.시장금리        -0.836821         0.978144           -0.856           0.392
L49.매출금액         0.031442         0.059810            0.526           0.599
L49.시장금리         1.980179         0.974730            2.032           0.042
L50.매출금액         0.031298         0.059622            0.525           0.600
L50.시장금리         0.739855         0.976751            0.757           0.449
L51.매출금액        -0.041399         0.059459           -0.696           0.486
L51.시장금리         0.326851         0.976944            0.335           0.738
L52.매출금액        -0.109089         0.059384           -1.837           0.066
L52.시장금리        -0.162129         0.977195           -0.166           0.868
L53.매출금액        -0.116714         0.059464           -1.963           0.050
L53.시장금리         0.445436         0.976575            0.456           0.648
L54.매출금액        -0.121373         0.059532           -2.039           0.041
L54.시장금리        -0.134353         0.975836           -0.138           0.890
L55.매출금액        -0.156114         0.059643           -2.617           0.009
L55.시장금리        -0.001101         0.975639           -0.001           0.999
L56.매출금액        -0.130394         0.059806           -2.180           0.029
L56.시장금리         0.568041         0.974131            0.583           0.560
L57.매출금액        -0.137836         0.059875           -2.302           0.021
L57.시장금리        -0.341745         0.971631           -0.352           0.725
L58.매출금액        -0.119817         0.060000           -1.997           0.046
L58.시장금리        -0.074170         0.971315           -0.076           0.939
L59.매출금액        -0.086625         0.060137           -1.440           0.150
L59.시장금리         0.678428         0.970890            0.699           0.485
L60.매출금액        -0.067215         0.060157           -1.117           0.264
L60.시장금리        -0.293821         0.973953           -0.302           0.763
L61.매출금액        -0.097697         0.060088           -1.626           0.104
L61.시장금리        -0.415923         0.974971           -0.427           0.670
L62.매출금액        -0.076881         0.060047           -1.280           0.200
L62.시장금리         0.156594         0.975004            0.161           0.872
L63.매출금액        -0.054170         0.060088           -0.902           0.367
L63.시장금리        -0.128228         0.974924           -0.132           0.895
L64.매출금액        -0.082048         0.060182           -1.363           0.173
L64.시장금리         0.185817         0.974088            0.191           0.849
L65.매출금액        -0.159006         0.060315           -2.636           0.008
L65.시장금리        -0.729073         0.974921           -0.748           0.455
L66.매출금액        -0.127985         0.060325           -2.122           0.034
L66.시장금리         0.002308         0.974211            0.002           0.998
L67.매출금액        -0.123730         0.060416           -2.048           0.041
L67.시장금리        -1.413069         0.973829           -1.451           0.147
L68.매출금액        -0.032469         0.060532           -0.536           0.592
L68.시장금리         0.036293         0.973966            0.037           0.970
L69.매출금액        -0.043125         0.060482           -0.713           0.476
L69.시장금리        -0.070335         0.975388           -0.072           0.943
L70.매출금액        -0.086683         0.060349           -1.436           0.151
L70.시장금리        -0.794588         0.977147           -0.813           0.416
L71.매출금액        -0.075355         0.060213           -1.251           0.211
L71.시장금리         0.382440         0.978343            0.391           0.696
L72.매출금액        -0.100608         0.059911           -1.679           0.093
L72.시장금리         0.827214         0.977878            0.846           0.398
L73.매출금액        -0.088394         0.059606           -1.483           0.138
L73.시장금리        -0.121304         0.978296           -0.124           0.901
L74.매출금액        -0.141167         0.059232           -2.383           0.017
L74.시장금리         0.598947         0.978530            0.612           0.540
L75.매출금액        -0.149857         0.058875           -2.545           0.011
L75.시장금리        -1.649531         0.978269           -1.686           0.092
L76.매출금액        -0.119374         0.058679           -2.034           0.042
L76.시장금리        -0.968644         0.978712           -0.990           0.322
L77.매출금액        -0.110069         0.058711           -1.875           0.061
L77.시장금리         0.180987         0.978446            0.185           0.853
L78.매출금액        -0.117318         0.058619           -2.001           0.045
L78.시장금리        -0.751662         0.980821           -0.766           0.443
L79.매출금액         0.047294         0.057427            0.824           0.410
L79.시장금리         0.142510         0.980014            0.145           0.884
L80.매출금액        -0.013926         0.054886           -0.254           0.800
L80.시장금리         1.356762         0.978582            1.386           0.166
L81.매출금액         0.026981         0.051634            0.523           0.601
L81.시장금리        -0.112869         0.977674           -0.115           0.908
L82.매출금액         0.042199         0.047527            0.888           0.375
L82.시장금리        -0.608858         0.973357           -0.626           0.532
L83.매출금액         0.014334         0.040985            0.350           0.727
L83.시장금리        -1.152357         0.965503           -1.194           0.233
L84.매출금액         0.022659         0.030803            0.736           0.462
L84.시장금리         0.181190         0.966799            0.187           0.851
===========================================================================

Results for equation 시장금리
===========================================================================
              coefficient       std. error           t-stat            prob
---------------------------------------------------------------------------
const           -0.000492         0.000336           -1.467           0.142
L1.매출금액          0.003238         0.001118            2.896           0.004
L1.시장금리         -0.004546         0.032887           -0.138           0.890
L2.매출금액          0.003365         0.001455            2.313           0.021
L2.시장금리          0.128893         0.032911            3.916           0.000
L3.매출금액          0.001732         0.001667            1.039           0.299
L3.시장금리          0.090375         0.033142            2.727           0.006
L4.매출금액          0.000549         0.001794            0.306           0.760
L4.시장금리          0.064626         0.033256            1.943           0.052
L5.매출금액          0.001041         0.001902            0.547           0.584
L5.시장금리          0.060509         0.033306            1.817           0.069
L6.매출금액          0.000388         0.001980            0.196           0.845
L6.시장금리          0.003203         0.033352            0.096           0.923
L7.매출금액         -0.000769         0.002022           -0.380           0.704
L7.시장금리         -0.001414         0.033276           -0.042           0.966
L8.매출금액         -0.000548         0.002028           -0.270           0.787
L8.시장금리         -0.024441         0.033176           -0.737           0.461
L9.매출금액         -0.000950         0.002029           -0.468           0.640
L9.시장금리         -0.000260         0.033253           -0.008           0.994
L10.매출금액         0.000716         0.002034            0.352           0.725
L10.시장금리         0.012140         0.033251            0.365           0.715
L11.매출금액         0.002039         0.002050            0.994           0.320
L11.시장금리         0.019443         0.033226            0.585           0.558
L12.매출금액         0.001183         0.002069            0.572           0.567
L12.시장금리        -0.022340         0.033199           -0.673           0.501
L13.매출금액         0.000765         0.002083            0.367           0.713
L13.시장금리         0.036192         0.033228            1.089           0.276
L14.매출금액         0.000511         0.002098            0.244           0.808
L14.시장금리        -0.018174         0.033249           -0.547           0.585
L15.매출금액         0.001178         0.002101            0.561           0.575
L15.시장금리        -0.008592         0.033204           -0.259           0.796
L16.매출금액         0.000984         0.002102            0.468           0.640
L16.시장금리        -0.006343         0.033133           -0.191           0.848
L17.매출금액        -0.000234         0.002102           -0.111           0.911
L17.시장금리        -0.060722         0.033119           -1.833           0.067
L18.매출금액         0.000093         0.002095            0.044           0.965
L18.시장금리        -0.041807         0.033156           -1.261           0.207
L19.매출금액        -0.000009         0.002092           -0.004           0.996
L19.시장금리         0.003961         0.033150            0.119           0.905
L20.매출금액         0.002487         0.002094            1.188           0.235
L20.시장금리         0.017363         0.033179            0.523           0.601
L21.매출금액         0.001731         0.002097            0.825           0.409
L21.시장금리         0.029479         0.033127            0.890           0.374
L22.매출금액         0.002398         0.002095            1.144           0.253
L22.시장금리         0.014439         0.033145            0.436           0.663
L23.매출금액         0.001253         0.002091            0.599           0.549
L23.시장금리         0.028278         0.033108            0.854           0.393
L24.매출금액         0.001249         0.002086            0.599           0.549
L24.시장금리        -0.012653         0.033119           -0.382           0.702
L25.매출금액         0.001600         0.002084            0.768           0.443
L25.시장금리        -0.011853         0.033109           -0.358           0.720
L26.매출금액         0.001241         0.002082            0.596           0.551
L26.시장금리         0.015551         0.032994            0.471           0.637
L27.매출금액         0.002917         0.002078            1.404           0.160
L27.시장금리         0.030067         0.033038            0.910           0.363
L28.매출금액         0.002513         0.002076            1.211           0.226
L28.시장금리        -0.070104         0.033044           -2.122           0.034
L29.매출금액         0.001648         0.002075            0.794           0.427
L29.시장금리         0.008605         0.033106            0.260           0.795
L30.매출금액        -0.000302         0.002070           -0.146           0.884
L30.시장금리        -0.019359         0.033055           -0.586           0.558
L31.매출금액        -0.002037         0.002066           -0.986           0.324
L31.시장금리         0.012972         0.033037            0.393           0.695
L32.매출금액        -0.002608         0.002064           -1.263           0.207
L32.시장금리         0.038088         0.033034            1.153           0.249
L33.매출금액        -0.003003         0.002064           -1.455           0.146
L33.시장금리         0.008305         0.033041            0.251           0.802
L34.매출금액        -0.003662         0.002068           -1.771           0.077
L34.시장금리        -0.023000         0.033015           -0.697           0.486
L35.매출금액        -0.003720         0.002072           -1.795           0.073
L35.시장금리         0.004315         0.033021            0.131           0.896
L36.매출금액        -0.003335         0.002076           -1.606           0.108
L36.시장금리        -0.029856         0.033008           -0.905           0.366
L37.매출금액        -0.001441         0.002079           -0.693           0.488
L37.시장금리         0.024354         0.033051            0.737           0.461
L38.매출금액        -0.000692         0.002078           -0.333           0.739
L38.시장금리         0.039557         0.033126            1.194           0.232
L39.매출금액        -0.000157         0.002078           -0.076           0.940

In [252]:
df_model_in.to_csv('매출액_시장금리_diff.csv', encoding = 'cp949', index = False)

In [251]:
df_model_logdiff.to_csv('매출액_시장금리_logdiff.csv', encoding = 'cp949', index = False)

## 시장금리 + KOSPI 상인점 매출

In [92]:
df_1 = pd.read_csv('매출액_시장금리.csv', encoding = 'cp949')
df_1

            매출일자     매출금액  시장금리
0     2018-01-01  3314000  1.99
1     2018-01-02  2020500  1.99
2     2018-01-03  2019500  1.96
3     2018-01-04  2178000  1.95
4     2018-01-05  2401500  1.95
...          ...      ...   ...
1177  2021-04-25  1810000  0.84
1178  2021-04-26  1348000  0.84
1179  2021-04-27  1170500  0.84
1180  2021-04-28   956000  0.83
1181  2021-04-29  1142500  0.83

[1182 rows x 3 columns]

In [30]:
df_KOSPI = pd.read_csv('kospi_day_201401-202104.csv', encoding = 'cp949')
df_KOSPI

        Unnamed: 0        0
0     2014. 01. 02  1967.19
1     2014. 01. 03  1946.14
2     2014. 01. 06  1953.28
3     2014. 01. 07  1959.44
4     2014. 01. 08  1958.96
...            ...      ...
1797  2021. 04. 26  3217.53
1798  2021. 04. 27  3215.42
1799  2021. 04. 28  3181.47
1800  2021. 04. 29  3174.07
1801  2021. 04. 30  3147.86

[1802 rows x 2 columns]

In [34]:
type(df_KOSPI['Unnamed: 0'][0])

str

In [39]:
date_list = []
for each in df_KOSPI['Unnamed: 0'] :
    each = each.replace('.', '/')
    each = each.replace(' ', '')
    date_list.append(each)

In [41]:
df_KOSPI['날짜'] = date_list
df_KOSPI

        Unnamed: 0        0          날짜
0     2014. 01. 02  1967.19  2014/01/02
1     2014. 01. 03  1946.14  2014/01/03
2     2014. 01. 06  1953.28  2014/01/06
3     2014. 01. 07  1959.44  2014/01/07
4     2014. 01. 08  1958.96  2014/01/08
...            ...      ...         ...
1797  2021. 04. 26  3217.53  2021/04/26
1798  2021. 04. 27  3215.42  2021/04/27
1799  2021. 04. 28  3181.47  2021/04/28
1800  2021. 04. 29  3174.07  2021/04/29
1801  2021. 04. 30  3147.86  2021/04/30

[1802 rows x 3 columns]

In [81]:
trans_list = []
for i, date in enumerate(df_KOSPI['날짜']) :
    trans = datetime.strptime(date[2:], '%y/%m/%d')
    trans_list.append(trans)

In [83]:
df_KOSPI['date'] = trans_list
df_KOSPI

        Unnamed: 0        0          날짜       date
0     2014. 01. 02  1967.19  2014/01/02 2014-01-02
1     2014. 01. 03  1946.14  2014/01/03 2014-01-03
2     2014. 01. 06  1953.28  2014/01/06 2014-01-06
3     2014. 01. 07  1959.44  2014/01/07 2014-01-07
4     2014. 01. 08  1958.96  2014/01/08 2014-01-08
...            ...      ...         ...        ...
1797  2021. 04. 26  3217.53  2021/04/26 2021-04-26
1798  2021. 04. 27  3215.42  2021/04/27 2021-04-27
1799  2021. 04. 28  3181.47  2021/04/28 2021-04-28
1800  2021. 04. 29  3174.07  2021/04/29 2021-04-29
1801  2021. 04. 30  3147.86  2021/04/30 2021-04-30

[1802 rows x 4 columns]

In [84]:
del df_KOSPI['Unnamed: 0'], df_KOSPI['날짜']
df_KOSPI

            0       date
0     1967.19 2014-01-02
1     1946.14 2014-01-03
2     1953.28 2014-01-06
3     1959.44 2014-01-07
4     1958.96 2014-01-08
...       ...        ...
1797  3217.53 2021-04-26
1798  3215.42 2021-04-27
1799  3181.47 2021-04-28
1800  3174.07 2021-04-29
1801  3147.86 2021-04-30

[1802 rows x 2 columns]

In [86]:
df_KOSPI.index = df_KOSPI['date']
del df_KOSPI['date']
df_KOSPI

                  0
date
2014-01-02  1967.19
2014-01-03  1946.14
2014-01-06  1953.28
2014-01-07  1959.44
2014-01-08  1958.96
...             ...
2021-04-26  3217.53
2021-04-27  3215.42
2021-04-28  3181.47
2021-04-29  3174.07
2021-04-30  3147.86

[1802 rows x 1 columns]

In [87]:
df_KOSPI.to_csv('df_KOSPU.csv', encoding = 'cp949')

In [93]:
df_1.index = df_1['매출일자']
df_1

                  매출일자     매출금액  시장금리
매출일자
2018-01-01  2018-01-01  3314000  1.99
2018-01-02  2018-01-02  2020500  1.99
2018-01-03  2018-01-03  2019500  1.96
2018-01-04  2018-01-04  2178000  1.95
2018-01-05  2018-01-05  2401500  1.95
...                ...      ...   ...
2021-04-25  2021-04-25  1810000  0.84
2021-04-26  2021-04-26  1348000  0.84
2021-04-27  2021-04-27  1170500  0.84
2021-04-28  2021-04-28   956000  0.83
2021-04-29  2021-04-29  1142500  0.83

[1182 rows x 3 columns]

In [94]:
df_1['KOSPI'] = df_KOSPI['0']
df_1

                  매출일자     매출금액  시장금리  KOSPI
매출일자
2018-01-01  2018-01-01  3314000  1.99    NaN
2018-01-02  2018-01-02  2020500  1.99    NaN
2018-01-03  2018-01-03  2019500  1.96    NaN
2018-01-04  2018-01-04  2178000  1.95    NaN
2018-01-05  2018-01-05  2401500  1.95    NaN
...                ...      ...   ...    ...
2021-04-25  2021-04-25  1810000  0.84    NaN
2021-04-26  2021-04-26  1348000  0.84    NaN
2021-04-27  2021-04-27  1170500  0.84    NaN
2021-04-28  2021-04-28   956000  0.83    NaN
2021-04-29  2021-04-29  1142500  0.83    NaN

[1182 rows x 4 columns]

In [95]:
df_KOSPI['0']

date
2014-01-02    1967.19
2014-01-03    1946.14
2014-01-06    1953.28
2014-01-07    1959.44
2014-01-08    1958.96
               ...
2021-04-26    3217.53
2021-04-27    3215.42
2021-04-28    3181.47
2021-04-29    3174.07
2021-04-30    3147.86
Name: 0, Length: 1802, dtype: float64

In [102]:
type(df_1['매출일자'][0])

str

In [105]:
KOSPI_date = df_KOSPI.index.tolist()
KOSPI_date

[Timestamp('2014-01-02 00:00:00'),
 Timestamp('2014-01-03 00:00:00'),
 Timestamp('2014-01-06 00:00:00'),
 Timestamp('2014-01-07 00:00:00'),
 Timestamp('2014-01-08 00:00:00'),
 Timestamp('2014-01-09 00:00:00'),
 Timestamp('2014-01-10 00:00:00'),
 Timestamp('2014-01-13 00:00:00'),
 Timestamp('2014-01-14 00:00:00'),
 Timestamp('2014-01-15 00:00:00'),
 Timestamp('2014-01-16 00:00:00'),
 Timestamp('2014-01-17 00:00:00'),
 Timestamp('2014-01-20 00:00:00'),
 Timestamp('2014-01-21 00:00:00'),
 Timestamp('2014-01-22 00:00:00'),
 Timestamp('2014-01-23 00:00:00'),
 Timestamp('2014-01-24 00:00:00'),
 Timestamp('2014-01-27 00:00:00'),
 Timestamp('2014-01-28 00:00:00'),
 Timestamp('2014-01-29 00:00:00'),
 Timestamp('2014-02-03 00:00:00'),
 Timestamp('2014-02-04 00:00:00'),
 Timestamp('2014-02-05 00:00:00'),
 Timestamp('2014-02-06 00:00:00'),
 Timestamp('2014-02-07 00:00:00'),
 Timestamp('2014-02-10 00:00:00'),
 Timestamp('2014-02-11 00:00:00'),
 Timestamp('2014-02-12 00:00:00'),
 Timestamp('2014-02-13 00:00:00'),
 Timestamp('2014-02-14 00:00:00'),
 Timestamp('2014-02-17 00:00:00'),
 Timestamp('2014-02-18 00:00:00'),
 Timestamp('2014-02-19 00:00:00'),
 Timestamp('2014-02-20 00:00:00'),
 Timestamp('2014-02-21 00:00:00'),
 Timestamp('2014-02-24 00:00:00'),
 Timestamp('2014-02-25 00:00:00'),
 Timestamp('2014-02-26 00:00:00'),
 Timestamp('2014-02-27 00:00:00'),
 Timestamp('2014-02-28 00:00:00'),
 Timestamp('2014-03-03 00:00:00'),
 Timestamp('2014-03-04 00:00:00'),
 Timestamp('2014-03-05 00:00:00'),
 Timestamp('2014-03-06 00:00:00'),
 Timestamp('2014-03-07 00:00:00'),
 Timestamp('2014-03-10 00:00:00'),
 Timestamp('2014-03-11 00:00:00'),
 Timestamp('2014-03-12 00:00:00'),
 Timestamp('2014-03-13 00:00:00'),
 Timestamp('2014-03-14 00:00:00'),
 Timestamp('2014-03-17 00:00:00'),
 Timestamp('2014-03-18 00:00:00'),
 Timestamp('2014-03-19 00:00:00'),
 Timestamp('2014-03-20 00:00:00'),
 Timestamp('2014-03-21 00:00:00'),
 Timestamp('2014-03-24 00:00:00'),
 Timestamp('2014-03-25 00:00:00'),
 Timestamp('2014-03-26 00:00:00'),
 Timestamp('2014-03-27 00:00:00'),
 Timestamp('2014-03-28 00:00:00'),
 Timestamp('2014-03-31 00:00:00'),
 Timestamp('2014-04-01 00:00:00'),
 Timestamp('2014-04-02 00:00:00'),
 Timestamp('2014-04-03 00:00:00'),
 Timestamp('2014-04-04 00:00:00'),
 Timestamp('2014-04-07 00:00:00'),
 Timestamp('2014-04-08 00:00:00'),
 Timestamp('2014-04-09 00:00:00'),
 Timestamp('2014-04-10 00:00:00'),
 Timestamp('2014-04-11 00:00:00'),
 Timestamp('2014-04-14 00:00:00'),
 Timestamp('2014-04-15 00:00:00'),
 Timestamp('2014-04-16 00:00:00'),
 Timestamp('2014-04-17 00:00:00'),
 Timestamp('2014-04-18 00:00:00'),
 Timestamp('2014-04-21 00:00:00'),
 Timestamp('2014-04-22 00:00:00'),
 Timestamp('2014-04-23 00:00:00'),
 Timestamp('2014-04-24 00:00:00'),
 Timestamp('2014-04-25 00:00:00'),
 Timestamp('2014-04-28 00:00:00'),
 Timestamp('2014-04-29 00:00:00'),
 Timestamp('2014-04-30 00:00:00'),
 Timestamp('2014-05-02 00:00:00'),
 Timestamp('2014-05-07 00:00:00'),
 Timestamp('2014-05-08 00:00:00'),
 Timestamp('2014-05-09 00:00:00'),
 Timestamp('2014-05-12 00:00:00'),
 Timestamp('2014-05-13 00:00:00'),
 Timestamp('2014-05-14 00:00:00'),
 Timestamp('2014-05-15 00:00:00'),
 Timestamp('2014-05-16 00:00:00'),
 Timestamp('2014-05-19 00:00:00'),
 Timestamp('2014-05-20 00:00:00'),
 Timestamp('2014-05-21 00:00:00'),
 Timestamp('2014-05-22 00:00:00'),
 Timestamp('2014-05-23 00:00:00'),
 Timestamp('2014-05-26 00:00:00'),
 Timestamp('2014-05-27 00:00:00'),
 Timestamp('2014-05-28 00:00:00'),
 Timestamp('2014-05-29 00:00:00'),
 Timestamp('2014-05-30 00:00:00'),
 Timestamp('2014-06-02 00:00:00'),
 Timestamp('2014-06-03 00:00:00'),
 Timestamp('2014-06-05 00:00:00'),
 Timestamp('2014-06-09 00:00:00'),
 Timestamp('2014-06-10 00:00:00'),
 Timestamp('2014-06-11 00:00:00'),
 Timestamp('2014-06-12 00:00:00'),
 Timestamp('2014-06-13 00:00:00'),
 Timestamp('2014-06-16 00:00:00'),
 Timestamp('2014-06-17 00:00:00'),
 Timestamp('2014-06-18 00:00:00'),
 Timestamp('2014-06-19 00:00:00'),
 Timestamp('2014-06-20 00:00:00'),
 Timestamp('2014-06-23 00:00:00'),
 Timestamp('2014-06-24 00:00:00'),
 Timestamp('2014-06-25 00:00:00'),
 Timestamp('2014-06-26 00:00:00'),
 Timestamp('2014-06-27 00:00:00'),
 Timestamp('2014-06-30 00:00:00'),
 Timestamp('2014-07-01 00:00:00'),
 Timestamp('2014-07-02 00:00:00'),
 Timestamp('2014-07-03 00:00:00'),
 Timestamp('2014-07-04 00:00:00'),
 Timestamp('2014-07-07 00:00:00'),
 Timestamp('2014-07-08 00:00:00'),
 Timestamp('2014-07-09 00:00:00'),
 Timestamp('2014-07-10 00:00:00'),
 Timestamp('2014-07-11 00:00:00'),
 Timestamp('2014-07-14 00:00:00'),
 Timestamp('2014-07-15 00:00:00'),
 Timestamp('2014-07-16 00:00:00'),
 Timestamp('2014-07-17 00:00:00'),
 Timestamp('2014-07-18 00:00:00'),
 Timestamp('2014-07-21 00:00:00'),
 Timestamp('2014-07-22 00:00:00'),
 Timestamp('2014-07-23 00:00:00'),
 Timestamp('2014-07-24 00:00:00'),
 Timestamp('2014-07-25 00:00:00'),
 Timestamp('2014-07-28 00:00:00'),
 Timestamp('2014-07-29 00:00:00'),
 Timestamp('2014-07-30 00:00:00'),
 Timestamp('2014-07-31 00:00:00'),
 Timestamp('2014-08-01 00:00:00'),
 Timestamp('2014-08-04 00:00:00'),
 Timestamp('2014-08-05 00:00:00'),
 Timestamp('2014-08-06 00:00:00'),
 Timestamp('2014-08-07 00:00:00'),
 Timestamp('2014-08-08 00:00:00'),
 Timestamp('2014-08-11 00:00:00'),
 Timestamp('2014-08-12 00:00:00'),
 Timestamp('2014-08-13 00:00:00'),
 Timestamp('2014-08-14 00:00:00'),
 Timestamp('2014-08-18 00:00:00'),
 Timestamp('2014-08-19 00:00:00'),
 Timestamp('2014-08-20 00:00:00'),
 Timestamp('2014-08-21 00:00:00'),
 Timestamp('2014-08-22 00:00:00'),
 Timestamp('2014-08-25 00:00:00'),
 Timestamp('2014-08-26 00:00:00'),
 Timestamp('2014-08-27 00:00:00'),
 Timestamp('2014-08-28 00:00:00'),
 Timestamp('2014-08-29 00:00:00'),
 Timestamp('2014-09-01 00:00:00'),
 Timestamp('2014-09-02 00:00:00'),
 Timestamp('2014-09-03 00:00:00'),
 Timestamp('2014-09-04 00:00:00'),
 Timestamp('2014-09-05 00:00:00'),
 Timestamp('2014-09-11 00:00:00'),
 Timestamp('2014-09-12 00:00:00'),
 Timestamp('2014-09-15 00:00:00'),
 Timestamp('2014-09-16 00:00:00'),
 Timestamp('2014-09-17 00:00:00'),
 Timestamp('2014-09-18 00:00:00'),
 Timestamp('2014-09-19 00:00:00'),
 Timestamp('2014-09-22 00:00:00'),
 Timestamp('2014-09-23 00:00:00'),
 Timestamp('2014-09-24 00:00:00'),
 Timestamp('2014-09-25 00:00:00'),
 Timestamp('2014-09-26 00:00:00'),
 Timestamp('2014-09-29 00:00:00'),
 Timestamp('2014-09-30 00:00:00'),
 Timestamp('2014-10-01 00:00:00'),
 Timestamp('2014-10-02 00:00:00'),
 Timestamp('2014-10-06 00:00:00'),
 Timestamp('2014-10-07 00:00:00'),
 Timestamp('2014-10-08 00:00:00'),
 Timestamp('2014-10-10 00:00:00'),
 Timestamp('2014-10-13 00:00:00'),
 Timestamp('2014-10-14 00:00:00'),
 Timestamp('2014-10-15 00:00:00'),
 Timestamp('2014-10-16 00:00:00'),
 Timestamp('2014-10-17 00:00:00'),
 Timestamp('2014-10-20 00:00:00'),
 Timestamp('2014-10-21 00:00:00'),
 Timestamp('2014-10-22 00:00:00'),
 Timestamp('2014-10-23 00:00:00'),
 Timestamp('2014-10-24 00:00:00'),
 Timestamp('2014-10-27 00:00:00'),
 Timestamp('2014-10-28 00:00:00'),
 Timestamp('2014-10-29 00:00:00'),
 Timestamp('2014-10-30 00:00:00'),
 Timestamp('2014-10-31 00:00:00'),
 Timestamp('2014-11-03 00:00:00'),
 Timestamp('2014-11-04 00:00:00'),
 Timestamp('2014-11-05 00:00:00'),
 Timestamp('2014-11-06 00:00:00'),
 Timestamp('2014-11-07 00:00:00'),
 Timestamp('2014-11-10 00:00:00'),
 Timestamp('2014-11-11 00:00:00'),
 Timestamp('2014-11-12 00:00:00'),
 Timestamp('2014-11-13 00:00:00'),
 Timestamp('2014-11-14 00:00:00'),
 Timestamp('2014-11-17 00:00:00'),
 Timestamp('2014-11-18 00:00:00'),
 Timestamp('2014-11-19 00:00:00'),
 Timestamp('2014-11-20 00:00:00'),
 Timestamp('2014-11-21 00:00:00'),
 Timestamp('2014-11-24 00:00:00'),
 Timestamp('2014-11-25 00:00:00'),
 Timestamp('2014-11-26 00:00:00'),
 Timestamp('2014-11-27 00:00:00'),
 Timestamp('2014-11-28 00:00:00'),
 Timestamp('2014-12-01 00:00:00'),
 Timestamp('2014-12-02 00:00:00'),
 Timestamp('2014-12-03 00:00:00'),
 Timestamp('2014-12-04 00:00:00'),
 Timestamp('2014-12-05 00:00:00'),
 Timestamp('2014-12-08 00:00:00'),
 Timestamp('2014-12-09 00:00:00'),
 Timestamp('2014-12-10 00:00:00'),
 Timestamp('2014-12-11 00:00:00'),
 Timestamp('2014-12-12 00:00:00'),
 Timestamp('2014-12-15 00:00:00'),
 Timestamp('2014-12-16 00:00:00'),
 Timestamp('2014-12-17 00:00:00'),
 Timestamp('2014-12-18 00:00:00'),
 Timestamp('2014-12-19 00:00:00'),
 Timestamp('2014-12-22 00:00:00'),
 Timestamp('2014-12-23 00:00:00'),
 Timestamp('2014-12-24 00:00:00'),
 Timestamp('2014-12-26 00:00:00'),
 Timestamp('2014-12-29 00:00:00'),
 Timestamp('2014-12-30 00:00:00'),
 Timestamp('2015-01-02 00:00:00'),
 Timestamp('2015-01-05 00:00:00'),
 Timestamp('2015-01-06 00:00:00'),
 Timestamp('2015-01-07 00:00:00'),
 Timestamp('2015-01-08 00:00:00'),
 Timestamp('2015-01-09 00:00:00'),
 Timestamp('2015-01-12 00:00:00'),
 Timestamp('2015-01-13 00:00:00'),
 Timestamp('2015-01-14 00:00:00'),
 Timestamp('2015-01-15 00:00:00'),
 Timestamp('2015-01-16 00:00:00'),
 Timestamp('2015-01-19 00:00:00'),
 Timestamp('2015-01-20 00:00:00'),
 Timestamp('2015-01-21 00:00:00'),
 Timestamp('2015-01-22 00:00:00'),
 Timestamp('2015-01-23 00:00:00'),
 Timestamp('2015-01-26 00:00:00'),
 Timestamp('2015-01-27 00:00:00'),
 Timestamp('2015-01-28 00:00:00'),
 Timestamp('2015-01-29 00:00:00'),
 Timestamp('2015-01-30 00:00:00'),
 Timestamp('2015-02-02 00:00:00'),
 Timestamp('2015-02-03 00:00:00'),
 Timestamp('2015-02-04 00:00:00'),
 Timestamp('2015-02-05 00:00:00'),
 Timestamp('2015-02-06 00:00:00'),
 Timestamp('2015-02-09 00:00:00'),
 Timestamp('2015-02-10 00:00:00'),
 Timestamp('2015-02-11 00:00:00'),
 Timestamp('2015-02-12 00:00:00'),
 Timestamp('2015-02-13 00:00:00'),
 Timestamp('2015-02-16 00:00:00'),
 Timestamp('2015-02-17 00:00:00'),
 Timestamp('2015-02-23 00:00:00'),
 Timestamp('2015-02-24 00:00:00'),
 Timestamp('2015-02-25 00:00:00'),
 Timestamp('2015-02-26 00:00:00'),
 Timestamp('2015-02-27 00:00:00'),
 Timestamp('2015-03-02 00:00:00'),
 Timestamp('2015-03-03 00:00:00'),
 Timestamp('2015-03-04 00:00:00'),
 Timestamp('2015-03-05 00:00:00'),
 Timestamp('2015-03-06 00:00:00'),
 Timestamp('2015-03-09 00:00:00'),
 Timestamp('2015-03-10 00:00:00'),
 Timestamp('2015-03-11 00:00:00'),
 Timestamp('2015-03-12 00:00:00'),
 Timestamp('2015-03-13 00:00:00'),
 Timestamp('2015-03-16 00:00:00'),
 Timestamp('2015-03-17 00:00:00'),
 Timestamp('2015-03-18 00:00:00'),
 Timestamp('2015-03-19 00:00:00'),
 Timestamp('2015-03-20 00:00:00'),
 Timestamp('2015-03-23 00:00:00'),
 Timestamp('2015-03-24 00:00:00'),
 Timestamp('2015-03-25 00:00:00'),
 Timestamp('2015-03-26 00:00:00'),
 Timestamp('2015-03-27 00:00:00'),
 Timestamp('2015-03-30 00:00:00'),
 Timestamp('2015-03-31 00:00:00'),
 Timestamp('2015-04-01 00:00:00'),
 Timestamp('2015-04-02 00:00:00'),
 Timestamp('2015-04-03 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-07 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2015-04-09 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-13 00:00:00'),
 Timestamp('2015-04-14 00:00:00'),
 Timestamp('2015-04-15 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-04-17 00:00:00'),
 Timestamp('2015-04-20 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-22 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-27 00:00:00'),
 Timestamp('2015-04-28 00:00:00'),
 Timestamp('2015-04-29 00:00:00'),
 Timestamp('2015-04-30 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-06 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-08 00:00:00'),
 Timestamp('2015-05-11 00:00:00'),
 Timestamp('2015-05-12 00:00:00'),
 Timestamp('2015-05-13 00:00:00'),
 Timestamp('2015-05-14 00:00:00'),
 Timestamp('2015-05-15 00:00:00'),
 Timestamp('2015-05-18 00:00:00'),
 Timestamp('2015-05-19 00:00:00'),
 Timestamp('2015-05-20 00:00:00'),
 Timestamp('2015-05-21 00:00:00'),
 Timestamp('2015-05-22 00:00:00'),
 Timestamp('2015-05-26 00:00:00'),
 Timestamp('2015-05-27 00:00:00'),
 Timestamp('2015-05-28 00:00:00'),
 Timestamp('2015-05-29 00:00:00'),
 Timestamp('2015-06-01 00:00:00'),
 Timestamp('2015-06-02 00:00:00'),
 Timestamp('2015-06-03 00:00:00'),
 Timestamp('2015-06-04 00:00:00'),
 Timestamp('2015-06-05 00:00:00'),
 Timestamp('2015-06-08 00:00:00'),
 Timestamp('2015-06-09 00:00:00'),
 Timestamp('2015-06-10 00:00:00'),
 Timestamp('2015-06-11 00:00:00'),
 Timestamp('2015-06-12 00:00:00'),
 Timestamp('2015-06-15 00:00:00'),
 Timestamp('2015-06-16 00:00:00'),
 Timestamp('2015-06-17 00:00:00'),
 Timestamp('2015-06-18 00:00:00'),
 Timestamp('2015-06-19 00:00:00'),
 Timestamp('2015-06-22 00:00:00'),
 Timestamp('2015-06-23 00:00:00'),
 Timestamp('2015-06-24 00:00:00'),
 Timestamp('2015-06-25 00:00:00'),
 Timestamp('2015-06-26 00:00:00'),
 Timestamp('2015-06-29 00:00:00'),
 Timestamp('2015-06-30 00:00:00'),
 Timestamp('2015-07-01 00:00:00'),
 Timestamp('2015-07-02 00:00:00'),
 Timestamp('2015-07-03 00:00:00'),
 Timestamp('2015-07-06 00:00:00'),
 Timestamp('2015-07-07 00:00:00'),
 Timestamp('2015-07-08 00:00:00'),
 Timestamp('2015-07-09 00:00:00'),
 Timestamp('2015-07-10 00:00:00'),
 Timestamp('2015-07-13 00:00:00'),
 Timestamp('2015-07-14 00:00:00'),
 Timestamp('2015-07-15 00:00:00'),
 Timestamp('2015-07-16 00:00:00'),
 Timestamp('2015-07-17 00:00:00'),
 Timestamp('2015-07-20 00:00:00'),
 Timestamp('2015-07-21 00:00:00'),
 Timestamp('2015-07-22 00:00:00'),
 Timestamp('2015-07-23 00:00:00'),
 Timestamp('2015-07-24 00:00:00'),
 Timestamp('2015-07-27 00:00:00'),
 Timestamp('2015-07-28 00:00:00'),
 Timestamp('2015-07-29 00:00:00'),
 Timestamp('2015-07-30 00:00:00'),
 Timestamp('2015-07-31 00:00:00'),
 Timestamp('2015-08-03 00:00:00'),
 Timestamp('2015-08-04 00:00:00'),
 Timestamp('2015-08-05 00:00:00'),
 Timestamp('2015-08-06 00:00:00'),
 Timestamp('2015-08-07 00:00:00'),
 Timestamp('2015-08-10 00:00:00'),
 Timestamp('2015-08-11 00:00:00'),
 Timestamp('2015-08-12 00:00:00'),
 Timestamp('2015-08-13 00:00:00'),
 Timestamp('2015-08-17 00:00:00'),
 Timestamp('2015-08-18 00:00:00'),
 Timestamp('2015-08-19 00:00:00'),
 Timestamp('2015-08-20 00:00:00'),
 Timestamp('2015-08-21 00:00:00'),
 Timestamp('2015-08-24 00:00:00'),
 Timestamp('2015-08-25 00:00:00'),
 Timestamp('2015-08-26 00:00:00'),
 Timestamp('2015-08-27 00:00:00'),
 Timestamp('2015-08-28 00:00:00'),
 Timestamp('2015-08-31 00:00:00'),
 Timestamp('2015-09-01 00:00:00'),
 Timestamp('2015-09-02 00:00:00'),
 Timestamp('2015-09-03 00:00:00'),
 Timestamp('2015-09-04 00:00:00'),
 Timestamp('2015-09-07 00:00:00'),
 Timestamp('2015-09-08 00:00:00'),
 Timestamp('2015-09-09 00:00:00'),
 Timestamp('2015-09-10 00:00:00'),
 Timestamp('2015-09-11 00:00:00'),
 Timestamp('2015-09-14 00:00:00'),
 Timestamp('2015-09-15 00:00:00'),
 Timestamp('2015-09-16 00:00:00'),
 Timestamp('2015-09-17 00:00:00'),
 Timestamp('2015-09-18 00:00:00'),
 Timestamp('2015-09-21 00:00:00'),
 Timestamp('2015-09-22 00:00:00'),
 Timestamp('2015-09-23 00:00:00'),
 Timestamp('2015-09-24 00:00:00'),
 Timestamp('2015-09-25 00:00:00'),
 Timestamp('2015-09-30 00:00:00'),
 Timestamp('2015-10-01 00:00:00'),
 Timestamp('2015-10-02 00:00:00'),
 Timestamp('2015-10-05 00:00:00'),
 Timestamp('2015-10-06 00:00:00'),
 Timestamp('2015-10-07 00:00:00'),
 Timestamp('2015-10-08 00:00:00'),
 Timestamp('2015-10-12 00:00:00'),
 Timestamp('2015-10-13 00:00:00'),
 Timestamp('2015-10-14 00:00:00'),
 Timestamp('2015-10-15 00:00:00'),
 Timestamp('2015-10-16 00:00:00'),
 Timestamp('2015-10-19 00:00:00'),
 Timestamp('2015-10-20 00:00:00'),
 Timestamp('2015-10-21 00:00:00'),
 Timestamp('2015-10-22 00:00:00'),
 Timestamp('2015-10-23 00:00:00'),
 Timestamp('2015-10-26 00:00:00'),
 Timestamp('2015-10-27 00:00:00'),
 Timestamp('2015-10-28 00:00:00'),
 Timestamp('2015-10-29 00:00:00'),
 Timestamp('2015-10-30 00:00:00'),
 Timestamp('2015-11-02 00:00:00'),
 Timestamp('2015-11-03 00:00:00'),
 Timestamp('2015-11-04 00:00:00'),
 Timestamp('2015-11-05 00:00:00'),
 Timestamp('2015-11-06 00:00:00'),
 Timestamp('2015-11-09 00:00:00'),
 Timestamp('2015-11-10 00:00:00'),
 Timestamp('2015-11-11 00:00:00'),
 Timestamp('2015-11-12 00:00:00'),
 Timestamp('2015-11-13 00:00:00'),
 Timestamp('2015-11-16 00:00:00'),
 Timestamp('2015-11-17 00:00:00'),
 Timestamp('2015-11-18 00:00:00'),
 Timestamp('2015-11-19 00:00:00'),
 Timestamp('2015-11-20 00:00:00'),
 Timestamp('2015-11-23 00:00:00'),
 Timestamp('2015-11-24 00:00:00'),
 Timestamp('2015-11-25 00:00:00'),
 Timestamp('2015-11-26 00:00:00'),
 Timestamp('2015-11-27 00:00:00'),
 Timestamp('2015-11-30 00:00:00'),
 Timestamp('2015-12-01 00:00:00'),
 Timestamp('2015-12-02 00:00:00'),
 Timestamp('2015-12-03 00:00:00'),
 Timestamp('2015-12-04 00:00:00'),
 Timestamp('2015-12-07 00:00:00'),
 Timestamp('2015-12-08 00:00:00'),
 Timestamp('2015-12-09 00:00:00'),
 Timestamp('2015-12-10 00:00:00'),
 Timestamp('2015-12-11 00:00:00'),
 Timestamp('2015-12-14 00:00:00'),
 Timestamp('2015-12-15 00:00:00'),
 Timestamp('2015-12-16 00:00:00'),
 Timestamp('2015-12-17 00:00:00'),
 Timestamp('2015-12-18 00:00:00'),
 Timestamp('2015-12-21 00:00:00'),
 Timestamp('2015-12-22 00:00:00'),
 Timestamp('2015-12-23 00:00:00'),
 Timestamp('2015-12-24 00:00:00'),
 Timestamp('2015-12-28 00:00:00'),
 Timestamp('2015-12-29 00:00:00'),
 Timestamp('2015-12-30 00:00:00'),
 Timestamp('2016-01-04 00:00:00'),
 Timestamp('2016-01-05 00:00:00'),
 Timestamp('2016-01-06 00:00:00'),
 Timestamp('2016-01-07 00:00:00'),
 Timestamp('2016-01-08 00:00:00'),
 Timestamp('2016-01-11 00:00:00'),
 Timestamp('2016-01-12 00:00:00'),
 Timestamp('2016-01-13 00:00:00'),
 Timestamp('2016-01-14 00:00:00'),
 Timestamp('2016-01-15 00:00:00'),
 Timestamp('2016-01-18 00:00:00'),
 Timestamp('2016-01-19 00:00:00'),
 Timestamp('2016-01-20 00:00:00'),
 Timestamp('2016-01-21 00:00:00'),
 Timestamp('2016-01-22 00:00:00'),
 Timestamp('2016-01-25 00:00:00'),
 Timestamp('2016-01-26 00:00:00'),
 Timestamp('2016-01-27 00:00:00'),
 Timestamp('2016-01-28 00:00:00'),
 Timestamp('2016-01-29 00:00:00'),
 Timestamp('2016-02-01 00:00:00'),
 Timestamp('2016-02-02 00:00:00'),
 Timestamp('2016-02-03 00:00:00'),
 Timestamp('2016-02-04 00:00:00'),
 Timestamp('2016-02-05 00:00:00'),
 Timestamp('2016-02-11 00:00:00'),
 Timestamp('2016-02-12 00:00:00'),
 Timestamp('2016-02-15 00:00:00'),
 Timestamp('2016-02-16 00:00:00'),
 Timestamp('2016-02-17 00:00:00'),
 Timestamp('2016-02-18 00:00:00'),
 Timestamp('2016-02-19 00:00:00'),
 Timestamp('2016-02-22 00:00:00'),
 Timestamp('2016-02-23 00:00:00'),
 Timestamp('2016-02-24 00:00:00'),
 Timestamp('2016-02-25 00:00:00'),
 Timestamp('2016-02-26 00:00:00'),
 Timestamp('2016-02-29 00:00:00'),
 Timestamp('2016-03-02 00:00:00'),
 Timestamp('2016-03-03 00:00:00'),
 Timestamp('2016-03-04 00:00:00'),
 Timestamp('2016-03-07 00:00:00'),
 Timestamp('2016-03-08 00:00:00'),
 Timestamp('2016-03-09 00:00:00'),
 Timestamp('2016-03-10 00:00:00'),
 Timestamp('2016-03-11 00:00:00'),
 Timestamp('2016-03-14 00:00:00'),
 Timestamp('2016-03-15 00:00:00'),
 Timestamp('2016-03-16 00:00:00'),
 Timestamp('2016-03-17 00:00:00'),
 Timestamp('2016-03-18 00:00:00'),
 Timestamp('2016-03-21 00:00:00'),
 Timestamp('2016-03-22 00:00:00'),
 Timestamp('2016-03-23 00:00:00'),
 Timestamp('2016-03-24 00:00:00'),
 Timestamp('2016-03-25 00:00:00'),
 Timestamp('2016-03-28 00:00:00'),
 Timestamp('2016-03-29 00:00:00'),
 Timestamp('2016-03-30 00:00:00'),
 Timestamp('2016-03-31 00:00:00'),
 Timestamp('2016-04-01 00:00:00'),
 Timestamp('2016-04-04 00:00:00'),
 Timestamp('2016-04-05 00:00:00'),
 Timestamp('2016-04-06 00:00:00'),
 Timestamp('2016-04-07 00:00:00'),
 Timestamp('2016-04-08 00:00:00'),
 Timestamp('2016-04-11 00:00:00'),
 Timestamp('2016-04-12 00:00:00'),
 Timestamp('2016-04-14 00:00:00'),
 Timestamp('2016-04-15 00:00:00'),
 Timestamp('2016-04-18 00:00:00'),
 Timestamp('2016-04-19 00:00:00'),
 Timestamp('2016-04-20 00:00:00'),
 Timestamp('2016-04-21 00:00:00'),
 Timestamp('2016-04-22 00:00:00'),
 Timestamp('2016-04-25 00:00:00'),
 Timestamp('2016-04-26 00:00:00'),
 Timestamp('2016-04-27 00:00:00'),

In [112]:
each2_list = []
for each2 in KOSPI_date :
    each2_list.append(str(each2)[:10])
each2_list

['2014-01-02',
 '2014-01-03',
 '2014-01-06',
 '2014-01-07',
 '2014-01-08',
 '2014-01-09',
 '2014-01-10',
 '2014-01-13',
 '2014-01-14',
 '2014-01-15',
 '2014-01-16',
 '2014-01-17',
 '2014-01-20',
 '2014-01-21',
 '2014-01-22',
 '2014-01-23',
 '2014-01-24',
 '2014-01-27',
 '2014-01-28',
 '2014-01-29',
 '2014-02-03',
 '2014-02-04',
 '2014-02-05',
 '2014-02-06',
 '2014-02-07',
 '2014-02-10',
 '2014-02-11',
 '2014-02-12',
 '2014-02-13',
 '2014-02-14',
 '2014-02-17',
 '2014-02-18',
 '2014-02-19',
 '2014-02-20',
 '2014-02-21',
 '2014-02-24',
 '2014-02-25',
 '2014-02-26',
 '2014-02-27',
 '2014-02-28',
 '2014-03-03',
 '2014-03-04',
 '2014-03-05',
 '2014-03-06',
 '2014-03-07',
 '2014-03-10',
 '2014-03-11',
 '2014-03-12',
 '2014-03-13',
 '2014-03-14',
 '2014-03-17',
 '2014-03-18',
 '2014-03-19',
 '2014-03-20',
 '2014-03-21',
 '2014-03-24',
 '2014-03-25',
 '2014-03-26',
 '2014-03-27',
 '2014-03-28',
 '2014-03-31',
 '2014-04-01',
 '2014-04-02',
 '2014-04-03',
 '2014-04-04',
 '2014-04-07',
 '2014-04-08',
 '2014-04-09',
 '2014-04-10',
 '2014-04-11',
 '2014-04-14',
 '2014-04-15',
 '2014-04-16',
 '2014-04-17',
 '2014-04-18',
 '2014-04-21',
 '2014-04-22',
 '2014-04-23',
 '2014-04-24',
 '2014-04-25',
 '2014-04-28',
 '2014-04-29',
 '2014-04-30',
 '2014-05-02',
 '2014-05-07',
 '2014-05-08',
 '2014-05-09',
 '2014-05-12',
 '2014-05-13',
 '2014-05-14',
 '2014-05-15',
 '2014-05-16',
 '2014-05-19',
 '2014-05-20',
 '2014-05-21',
 '2014-05-22',
 '2014-05-23',
 '2014-05-26',
 '2014-05-27',
 '2014-05-28',
 '2014-05-29',
 '2014-05-30',
 '2014-06-02',
 '2014-06-03',
 '2014-06-05',
 '2014-06-09',
 '2014-06-10',
 '2014-06-11',
 '2014-06-12',
 '2014-06-13',
 '2014-06-16',
 '2014-06-17',
 '2014-06-18',
 '2014-06-19',
 '2014-06-20',
 '2014-06-23',
 '2014-06-24',
 '2014-06-25',
 '2014-06-26',
 '2014-06-27',
 '2014-06-30',
 '2014-07-01',
 '2014-07-02',
 '2014-07-03',
 '2014-07-04',
 '2014-07-07',
 '2014-07-08',
 '2014-07-09',
 '2014-07-10',
 '2014-07-11',
 '2014-07-14',
 '2014-07-15',
 '2014-07-16',
 '2014-07-17',
 '2014-07-18',
 '2014-07-21',
 '2014-07-22',
 '2014-07-23',
 '2014-07-24',
 '2014-07-25',
 '2014-07-28',
 '2014-07-29',
 '2014-07-30',
 '2014-07-31',
 '2014-08-01',
 '2014-08-04',
 '2014-08-05',
 '2014-08-06',
 '2014-08-07',
 '2014-08-08',
 '2014-08-11',
 '2014-08-12',
 '2014-08-13',
 '2014-08-14',
 '2014-08-18',
 '2014-08-19',
 '2014-08-20',
 '2014-08-21',
 '2014-08-22',
 '2014-08-25',
 '2014-08-26',
 '2014-08-27',
 '2014-08-28',
 '2014-08-29',
 '2014-09-01',
 '2014-09-02',
 '2014-09-03',
 '2014-09-04',
 '2014-09-05',
 '2014-09-11',
 '2014-09-12',
 '2014-09-15',
 '2014-09-16',
 '2014-09-17',
 '2014-09-18',
 '2014-09-19',
 '2014-09-22',
 '2014-09-23',
 '2014-09-24',
 '2014-09-25',
 '2014-09-26',
 '2014-09-29',
 '2014-09-30',
 '2014-10-01',
 '2014-10-02',
 '2014-10-06',
 '2014-10-07',
 '2014-10-08',
 '2014-10-10',
 '2014-10-13',
 '2014-10-14',
 '2014-10-15',
 '2014-10-16',
 '2014-10-17',
 '2014-10-20',
 '2014-10-21',
 '2014-10-22',
 '2014-10-23',
 '2014-10-24',
 '2014-10-27',
 '2014-10-28',
 '2014-10-29',
 '2014-10-30',
 '2014-10-31',
 '2014-11-03',
 '2014-11-04',
 '2014-11-05',
 '2014-11-06',
 '2014-11-07',
 '2014-11-10',
 '2014-11-11',
 '2014-11-12',
 '2014-11-13',
 '2014-11-14',
 '2014-11-17',
 '2014-11-18',
 '2014-11-19',
 '2014-11-20',
 '2014-11-21',
 '2014-11-24',
 '2014-11-25',
 '2014-11-26',
 '2014-11-27',
 '2014-11-28',
 '2014-12-01',
 '2014-12-02',
 '2014-12-03',
 '2014-12-04',
 '2014-12-05',
 '2014-12-08',
 '2014-12-09',
 '2014-12-10',
 '2014-12-11',
 '2014-12-12',
 '2014-12-15',
 '2014-12-16',
 '2014-12-17',
 '2014-12-18',
 '2014-12-19',
 '2014-12-22',
 '2014-12-23',
 '2014-12-24',
 '2014-12-26',
 '2014-12-29',
 '2014-12-30',
 '2015-01-02',
 '2015-01-05',
 '2015-01-06',
 '2015-01-07',
 '2015-01-08',
 '2015-01-09',
 '2015-01-12',
 '2015-01-13',
 '2015-01-14',
 '2015-01-15',
 '2015-01-16',
 '2015-01-19',
 '2015-01-20',
 '2015-01-21',
 '2015-01-22',
 '2015-01-23',
 '2015-01-26',
 '2015-01-27',
 '2015-01-28',
 '2015-01-29',
 '2015-01-30',
 '2015-02-02',
 '2015-02-03',
 '2015-02-04',
 '2015-02-05',
 '2015-02-06',
 '2015-02-09',
 '2015-02-10',
 '2015-02-11',
 '2015-02-12',
 '2015-02-13',
 '2015-02-16',
 '2015-02-17',
 '2015-02-23',
 '2015-02-24',
 '2015-02-25',
 '2015-02-26',
 '2015-02-27',
 '2015-03-02',
 '2015-03-03',
 '2015-03-04',
 '2015-03-05',
 '2015-03-06',
 '2015-03-09',
 '2015-03-10',
 '2015-03-11',
 '2015-03-12',
 '2015-03-13',
 '2015-03-16',
 '2015-03-17',
 '2015-03-18',
 '2015-03-19',
 '2015-03-20',
 '2015-03-23',
 '2015-03-24',
 '2015-03-25',
 '2015-03-26',
 '2015-03-27',
 '2015-03-30',
 '2015-03-31',
 '2015-04-01',
 '2015-04-02',
 '2015-04-03',
 '2015-04-06',
 '2015-04-07',
 '2015-04-08',
 '2015-04-09',
 '2015-04-10',
 '2015-04-13',
 '2015-04-14',
 '2015-04-15',
 '2015-04-16',
 '2015-04-17',
 '2015-04-20',
 '2015-04-21',
 '2015-04-22',
 '2015-04-23',
 '2015-04-24',
 '2015-04-27',
 '2015-04-28',
 '2015-04-29',
 '2015-04-30',
 '2015-05-04',
 '2015-05-06',
 '2015-05-07',
 '2015-05-08',
 '2015-05-11',
 '2015-05-12',
 '2015-05-13',
 '2015-05-14',
 '2015-05-15',
 '2015-05-18',
 '2015-05-19',
 '2015-05-20',
 '2015-05-21',
 '2015-05-22',
 '2015-05-26',
 '2015-05-27',
 '2015-05-28',
 '2015-05-29',
 '2015-06-01',
 '2015-06-02',
 '2015-06-03',
 '2015-06-04',
 '2015-06-05',
 '2015-06-08',
 '2015-06-09',
 '2015-06-10',
 '2015-06-11',
 '2015-06-12',
 '2015-06-15',
 '2015-06-16',
 '2015-06-17',
 '2015-06-18',
 '2015-06-19',
 '2015-06-22',
 '2015-06-23',
 '2015-06-24',
 '2015-06-25',
 '2015-06-26',
 '2015-06-29',
 '2015-06-30',
 '2015-07-01',
 '2015-07-02',
 '2015-07-03',
 '2015-07-06',
 '2015-07-07',
 '2015-07-08',
 '2015-07-09',
 '2015-07-10',
 '2015-07-13',
 '2015-07-14',
 '2015-07-15',
 '2015-07-16',
 '2015-07-17',
 '2015-07-20',
 '2015-07-21',
 '2015-07-22',
 '2015-07-23',
 '2015-07-24',
 '2015-07-27',
 '2015-07-28',
 '2015-07-29',
 '2015-07-30',
 '2015-07-31',
 '2015-08-03',
 '2015-08-04',
 '2015-08-05',
 '2015-08-06',
 '2015-08-07',
 '2015-08-10',
 '2015-08-11',
 '2015-08-12',
 '2015-08-13',
 '2015-08-17',
 '2015-08-18',
 '2015-08-19',
 '2015-08-20',
 '2015-08-21',
 '2015-08-24',
 '2015-08-25',
 '2015-08-26',
 '2015-08-27',
 '2015-08-28',
 '2015-08-31',
 '2015-09-01',
 '2015-09-02',
 '2015-09-03',
 '2015-09-04',
 '2015-09-07',
 '2015-09-08',
 '2015-09-09',
 '2015-09-10',
 '2015-09-11',
 '2015-09-14',
 '2015-09-15',
 '2015-09-16',
 '2015-09-17',
 '2015-09-18',
 '2015-09-21',
 '2015-09-22',
 '2015-09-23',
 '2015-09-24',
 '2015-09-25',
 '2015-09-30',
 '2015-10-01',
 '2015-10-02',
 '2015-10-05',
 '2015-10-06',
 '2015-10-07',
 '2015-10-08',
 '2015-10-12',
 '2015-10-13',
 '2015-10-14',
 '2015-10-15',
 '2015-10-16',
 '2015-10-19',
 '2015-10-20',
 '2015-10-21',
 '2015-10-22',
 '2015-10-23',
 '2015-10-26',
 '2015-10-27',
 '2015-10-28',
 '2015-10-29',
 '2015-10-30',
 '2015-11-02',
 '2015-11-03',
 '2015-11-04',
 '2015-11-05',
 '2015-11-06',
 '2015-11-09',
 '2015-11-10',
 '2015-11-11',
 '2015-11-12',
 '2015-11-13',
 '2015-11-16',
 '2015-11-17',
 '2015-11-18',
 '2015-11-19',
 '2015-11-20',
 '2015-11-23',
 '2015-11-24',
 '2015-11-25',
 '2015-11-26',
 '2015-11-27',
 '2015-11-30',
 '2015-12-01',
 '2015-12-02',
 '2015-12-03',
 '2015-12-04',
 '2015-12-07',
 '2015-12-08',
 '2015-12-09',
 '2015-12-10',
 '2015-12-11',
 '2015-12-14',
 '2015-12-15',
 '2015-12-16',
 '2015-12-17',
 '2015-12-18',
 '2015-12-21',
 '2015-12-22',
 '2015-12-23',
 '2015-12-24',
 '2015-12-28',
 '2015-12-29',
 '2015-12-30',
 '2016-01-04',
 '2016-01-05',
 '2016-01-06',
 '2016-01-07',
 '2016-01-08',
 '2016-01-11',
 '2016-01-12',
 '2016-01-13',
 '2016-01-14',
 '2016-01-15',
 '2016-01-18',
 '2016-01-19',
 '2016-01-20',
 '2016-01-21',
 '2016-01-22',
 '2016-01-25',
 '2016-01-26',
 '2016-01-27',
 '2016-01-28',
 '2016-01-29',
 '2016-02-01',
 '2016-02-02',
 '2016-02-03',
 '2016-02-04',
 '2016-02-05',
 '2016-02-11',
 '2016-02-12',
 '2016-02-15',
 '2016-02-16',
 '2016-02-17',
 '2016-02-18',
 '2016-02-19',
 '2016-02-22',
 '2016-02-23',
 '2016-02-24',
 '2016-02-25',
 '2016-02-26',
 '2016-02-29',
 '2016-03-02',
 '2016-03-03',
 '2016-03-04',
 '2016-03-07',
 '2016-03-08',
 '2016-03-09',
 '2016-03-10',
 '2016-03-11',
 '2016-03-14',
 '2016-03-15',
 '2016-03-16',
 '2016-03-17',
 '2016-03-18',
 '2016-03-21',
 '2016-03-22',
 '2016-03-23',
 '2016-03-24',
 '2016-03-25',
 '2016-03-28',
 '2016-03-29',
 '2016-03-30',
 '2016-03-31',
 '2016-04-01',
 '2016-04-04',
 '2016-04-05',
 '2016-04-06',
 '2016-04-07',
 '2016-04-08',
 '2016-04-11',
 '2016-04-12',
 '2016-04-14',
 '2016-04-15',
 '2016-04-18',
 '2016-04-19',
 '2016-04-20',
 '2016-04-21',
 '2016-04-22',
 '2016-04-25',
 '2016-04-26',
 '2016-04-27',
 '2016-04-28',
 '2016-04-29',
 '2016-05-02',
 '2016-05-03',
 '2016-05-04',
 '2016-05-09',
 '2016-05-10',
 '2016-05-11',
 '2016-05-12',
 '2016-05-13',
 '2016-05-16',
 '2016-05-17',
 '2016-05-18',
 '2016-05-19',
 '2016-05-20',
 '2016-05-23',
 '2016-05-24',
 '2016-05-25',
 '2016-05-26',
 '2016-05-27',
 '2016-05-30',
 '2016-05-31',
 '2016-06-01',
 '2016-06-02',
 '2016-06-03',
 '2016-06-07',
 '2016-06-08',
 '2016-06-09',
 '2016-06-10',
 '2016-06-13',
 '2016-06-14',
 '2016-06-15',
 '2016-06-16',
 '2016-06-17',
 '2016-06-20',
 '2016-06-21',
 '2016-06-22',
 '2016-06-23',
 '2016-06-24',
 '2016-06-27',
 '2016-06-28',
 '2016-06-29',
 '2016-06-30',
 '2016-07-01',
 '2016-07-04',
 '2016-07-05',
 '2016-07-06',
 '2016-07-07',
 '2016-07-08',
 '2016-07-11',
 '2016-07-12',
 '2016-07-13',
 '2016-07-14',
 '2016-07-15',
 '2016-07-18',
 '2016-07-19',
 '2016-07-20',
 '2016-07-21',
 '2016-07-22',
 '2016-07-25',
 '2016-07-26',
 '2016-07-27',
 '2016-07-28',
 '2016-07-29',
 '2016-08-01',
 '2016-08-02',
 '2016-08-03',
 '2016-08-04',
 '2016-08-05',
 '2016-08-08',
 '2016-08-09',
 '2016-08-10',
 '2016-08-11',
 '2016-08-12',
 '2016-08-16',
 '2016-08-17',
 '2016-08-18',
 '2016-08-19',
 '2016-08-22',
 '2016-08-23',
 '2016-08-24',
 '2016-08-25',
 '2016-08-26',
 '2016-08-29',
 '2016-08-30',
 '2016-08-31',
 '2016-09-01',
 '2016-09-02',
 '2016-09-05',
 '2016-09-06',
 '2016-09-07',
 '2016-09-08',
 '2016-09-09',
 '2016-09-12',
 '2016-09-13',
 '2016-09-19',
 '2016-09-20',
 '2016-09-21',
 '2016-09-22',
 '2016-09-23',
 '2016-09-26',
 '2016-09-27',
 '2016-09-28',
 '2016-09-29',
 '2016-09-30',
 '2016-10-04',
 '2016-10-05',
 '2016-10-06',
 '2016-10-07',
 '2016-10-10',
 '2016-10-11',
 '2016-10-12',
 '2016-10-13',
 '2016-10-14',
 '2016-10-17',
 '2016-10-18',
 '2016-10-19',
 '2016-10-20',
 '2016-10-21',
 '2016-10-24',
 '2016-10-25',
 '2016-10-26',
 '2016-10-27',
 '2016-10-28',
 '2016-10-31',
 '2016-11-01',
 '2016-11-02',
 '2016-11-03',
 '2016-11-04',
 '2016-11-07',
 '2016-11-08',
 '2016-11-09',
 '2016-11-10',
 '2016-11-11',
 '2016-11-14',
 '2016-11-15',
 '2016-11-16',
 '2016-11-17',
 '2016-11-18',
 '2016-11-21',
 '2016-11-22',
 '2016-11-23',
 '2016-11-24',
 '2016-11-25',
 '2016-11-28',
 '2016-11-29',
 '2016-11-30',
 '2016-12-01',
 '2016-12-02',
 '2016-12-05',
 '2016-12-06',
 '2016-12-07',
 '2016-12-08',
 '2016-12-09',
 '2016-12-12',
 '2016-12-13',
 '2016-12-14',
 '2016-12-15',
 '2016-12-16',
 '2016-12-19',
 '2016-12-20',
 '2016-12-21',
 '2016-12-22',
 '2016-12-23',
 '2016-12-26',
 '2016-12-27',
 '2016-12-28',
 '2016-12-29',
 '2017-01-02',
 '2017-01-03',
 '2017-01-04',
 '2017-01-05',
 '2017-01-06',
 '2017-01-09',
 '2017-01-10',
 '2017-01-11',
 '2017-01-12',
 '2017-01-13',
 '2017-01-16',
 '2017-01-17',
 '2017-01-18',
 '2017-01-19',
 '2017-01-20',
 '2017-01-23',
 '2017-01-24',
 '2017-01-25',
 '2017-01-26',
 '2017-01-31',
 '2017-02-01',
 '2017-02-02',
 '2017-02-03',
 '2017-02-06',
 '2017-02-07',
 '2017-02-08',
 '2017-02-09',
 '2017-02-10',
 '2017-02-13',
 '2017-02-14',
 '2017-02-15',
 '2017-02-16',
 '2017-02-17',
 '2017-02-20',
 '2017-02-21',
 '2017-02-22',
 '2017-02-23',
 '2017-02-24',
 '2017-02-27',
 '2017-02-28',
 '2017-03-02',
 '2017-03-03',
 '2017-03-06',
 '2017-03-07',
 '2017-03-08',
 '2017-03-09',
 '2017-03-10',
 '2017-03-13',
 '2017-03-14',
 '2017-03-15',
 '2017-03-16',
 '2017-03-17',
 '2017-03-20',
 '2017-03-21',
 '2017-03-22',
 '2017-03-23',
 '2017-03-24',
 '2017-03-27',
 '2017-03-28',
 '2017-03-29',
 '2017-03-30',
 '2017-03-31',
 '2017-04-03',
 '2017-04-04',
 '2017-04-05',
 '2017-04-06',
 '2017-04-07',
 '2017-04-10',
 '2017-04-11',
 '2017-04-12',
 '2017-04-13',
 '2017-04-14',
 '2017-04-17',
 '2017-04-18',
 '2017-04-19',
 '2017-04-20',
 '2017-04-21',
 '2017-04-24',
 '2017-04-25',
 '2017-04-26',
 '2017-04-27',
 '2017-04-28',
 '2017-05-02',
 '2017-05-04',
 '2017-05-08',
 '2017-05-10',
 '2017-05-11',
 '2017-05-12',
 '2017-05-15',
 '2017-05-16',
 '2017-05-17',
 '2017-05-18',
 '2017-05-19',
 '2017-05-22',
 '2017-05-23',
 '2017-05-24',
 '2017-05-25',
 '2017-05-26',
 '2017-05-29',
 '2017-05-30',
 '2017-05-31',
 '2017-06-01',
 '2017-06-02',
 '2017-06-05',
 '2017-06-07',
 '2017-06-08',
 '2017-06-09',
 '2017-06-12',
 '2017-06-13',
 '2017-06-14',
 '2017-06-15',
 '2017-06-16',
 '2017-06-19',
 '2017-06-20',
 '2017-06-21',
 '2017-06-22',
 '2017-06-23',
 '2017-06-26',
 '2017-06-27',
 '2017-06-28',
 '2017-06-29',
 '2017-06-30',
 '2017-07-03',
 '2017-07-04',
 '2017-07-05',
 '2017-07-06',
 '2017-07-07',
 '2017-07-10',
 '2017-07-11',
 '2017-07-12',
 '2017-07-13',
 '2017-07-14',
 '2017-07-17',
 '2017-07-18',
 '2017-07-19',
 '2017-07-20',
 '2017-07-21',
 '2017-07-24',
 '2017-07-25',
 '2017-07-26',
 '2017-07-27',
 '2017-07-28',
 '2017-07-31',
 '2017-08-01',
 '2017-08-02',
 '2017-08-03',
 '2017-08-04',
 '2017-08-07',
 '2017-08-08',
 '2017-08-09',
 '2017-08-10',
 '2017-08-11',
 '2017-08-14',
 '2017-08-16',
 '2017-08-17',
 '2017-08-18',
 '2017-08-21',
 '2017-08-22',
 '2017-08-23',
 '2017-08-24',
 '2017-08-25',
 '2017-08-28',
 '2017-08-29',
 '2017-08-30',
 '2017-08-31',
 '2017-09-01',
 '2017-09-04',
 '2017-09-05',
 '2017-09-06',
 '2017-09-07',
 '2017-09-08',
 '2017-09-11',
 '2017-09-12',
 '2017-09-13',
 '2017-09-14',
 '2017-09-15',
 '2017-09-18',
 '2017-09-19',
 '2017-09-20',
 '2017-09-21',
 '2017-09-22',
 '2017-09-25',
 '2017-09-26',
 '2017-09-27',
 '2017-09-28',
 '2017-09-29',
 '2017-10-10',
 '2017-10-11',
 '2017-10-12',
 '2017-10-13',
 '2017-10-16',
 '2017-10-17',
 '2017-10-18',
 '2017-10-19',
 '2017-10-20',
 '2017-10-23',
 '2017-10-24',
 '2017-10-25',
 '2017-10-26',
 '2017-10-27',
 '2017-10-30',
 '2017-10-31',
 '2017-11-01',
 '2017-11-02',
 '2017-11-03',
 '2017-11-06',
 '2017-11-07',
 '2017-11-08',
 '2017-11-09',
 '2017-11-10',
 '2017-11-13',
 '2017-11-14',
 '2017-11-15',
 '2017-11-16',
 '2017-11-17',
 '2017-11-20',
 '2017-11-21',
 '2017-11-22',
 '2017-11-23',
 '2017-11-24',
 '2017-11-27',
 '2017-11-28',
 '2017-11-29',
 '2017-11-30',
 '2017-12-01',
 '2017-12-04',
 '2017-12-05',
 '2017-12-06',
 '2017-12-07',
 '2017-12-08',
 '2017-12-11',
 '2017-12-12',
 '2017-12-13',
 '2017-12-14',
 '2017-12-15',
 '2017-12-18',
 '2017-12-19',
 '2017-12-20',
 '2017-12-21',
 '2017-12-22',
 '2017-12-26',
 '2017-12-27',
 '2017-12-28',
 '2018-01-02',
 '2018-01-03',
 '2018-01-04',
 '2018-01-05',
 '2018-01-08',
 '2018-01-09',
 '2018-01-10',
 '2018-01-11',
 '2018-01-12',
 '2018-01-15',
 '2018-01-16',
 '2018-01-17',
 '2018-01-18',
 '2018-01-19',
 '2018-01-22',
 '2018-01-23',
 '2018-01-24',
 '2018-01-25',
 ...]

In [114]:
df_KOSPI['날짜2'] = each2_list
df_KOSPI

                  0         날짜2
date
2014-01-02  1967.19  2014-01-02
2014-01-03  1946.14  2014-01-03
2014-01-06  1953.28  2014-01-06
2014-01-07  1959.44  2014-01-07
2014-01-08  1958.96  2014-01-08
...             ...         ...
2021-04-26  3217.53  2021-04-26
2021-04-27  3215.42  2021-04-27
2021-04-28  3181.47  2021-04-28
2021-04-29  3174.07  2021-04-29
2021-04-30  3147.86  2021-04-30

[1802 rows x 2 columns]

In [116]:
df_KOSPI.index = df_KOSPI['날짜2']
df_KOSPI

                  0         날짜2
날짜2
2014-01-02  1967.19  2014-01-02
2014-01-03  1946.14  2014-01-03
2014-01-06  1953.28  2014-01-06
2014-01-07  1959.44  2014-01-07
2014-01-08  1958.96  2014-01-08
...             ...         ...
2021-04-26  3217.53  2021-04-26
2021-04-27  3215.42  2021-04-27
2021-04-28  3181.47  2021-04-28
2021-04-29  3174.07  2021-04-29
2021-04-30  3147.86  2021-04-30

[1802 rows x 2 columns]

In [117]:
df_1['KOSPI'] = df_KOSPI['0']
df_1

                  매출일자     매출금액  시장금리    KOSPI
매출일자
2018-01-01  2018-01-01  3314000  1.99      NaN
2018-01-02  2018-01-02  2020500  1.99  2479.65
2018-01-03  2018-01-03  2019500  1.96  2486.35
2018-01-04  2018-01-04  2178000  1.95  2466.46
2018-01-05  2018-01-05  2401500  1.95  2497.52
...                ...      ...   ...      ...
2021-04-25  2021-04-25  1810000  0.84      NaN
2021-04-26  2021-04-26  1348000  0.84  3217.53
2021-04-27  2021-04-27  1170500  0.84  3215.42
2021-04-28  2021-04-28   956000  0.83  3181.47
2021-04-29  2021-04-29  1142500  0.83  3174.07

[1182 rows x 4 columns]

In [118]:
del df_1['매출일자']
df_1

               매출금액  시장금리    KOSPI
매출일자
2018-01-01  3314000  1.99      NaN
2018-01-02  2020500  1.99  2479.65
2018-01-03  2019500  1.96  2486.35
2018-01-04  2178000  1.95  2466.46
2018-01-05  2401500  1.95  2497.52
...             ...   ...      ...
2021-04-25  1810000  0.84      NaN
2021-04-26  1348000  0.84  3217.53
2021-04-27  1170500  0.84  3215.42
2021-04-28   956000  0.83  3181.47
2021-04-29  1142500  0.83  3174.07

[1182 rows x 3 columns]

In [119]:
df_1['KOSPI-1'] = df_1['KOSPI'].shift(1)
df_1['KOSPI-2'] = df_1['KOSPI'].shift(2)
df_1['KOSPI-3'] = df_1['KOSPI'].shift(3)
df_1

               매출금액  시장금리    KOSPI  KOSPI-1  KOSPI-2  KOSPI-3
매출일자
2018-01-01  3314000  1.99      NaN      NaN      NaN      NaN
2018-01-02  2020500  1.99  2479.65      NaN      NaN      NaN
2018-01-03  2019500  1.96  2486.35  2479.65      NaN      NaN
2018-01-04  2178000  1.95  2466.46  2486.35  2479.65      NaN
2018-01-05  2401500  1.95  2497.52  2466.46  2486.35  2479.65
...             ...   ...      ...      ...      ...      ...
2021-04-25  1810000  0.84      NaN      NaN  3186.10  3177.52
2021-04-26  1348000  0.84  3217.53      NaN      NaN  3186.10
2021-04-27  1170500  0.84  3215.42  3217.53      NaN      NaN
2021-04-28   956000  0.83  3181.47  3215.42  3217.53      NaN
2021-04-29  1142500  0.83  3174.07  3181.47  3215.42  3217.53

[1182 rows x 6 columns]

In [122]:
for i, intr in enumerate(df_1.index) :
    if np.isnan(df_1.loc[intr,'KOSPI']) == True :
        if np.isnan(df_1.loc[intr,'KOSPI-1']) == False :
            df_1.loc[intr,'KOSPI'] = df_1.loc[intr,'KOSPI-1']
        elif np.isnan(df_1.loc[intr,'KOSPI-1']) == True :
            if np.isnan(df_1.loc[intr,'KOSPI-2']) == False :
                df_1.loc[intr,'KOSPI'] = df_1.loc[intr,'KOSPI-2']
            elif np.isnan(df_1.loc[intr,'KOSPI-2']) == True :
                if np.isnan(df_1.loc[intr,'KOSPI-3']) == False :
                    df_1.loc[intr,'KOSPI'] = df_1.loc[intr,'KOSPI-3']
df_1.iloc[0, 2] = 2479.65
df_1

               매출금액  시장금리    KOSPI  KOSPI-1  KOSPI-2  KOSPI-3
매출일자
2018-01-01  3314000  1.99  2479.65      NaN      NaN      NaN
2018-01-02  2020500  1.99  2479.65      NaN      NaN      NaN
2018-01-03  2019500  1.96  2486.35  2479.65      NaN      NaN
2018-01-04  2178000  1.95  2466.46  2486.35  2479.65      NaN
2018-01-05  2401500  1.95  2497.52  2466.46  2486.35  2479.65
...             ...   ...      ...      ...      ...      ...
2021-04-25  1810000  0.84  3186.10      NaN  3186.10  3177.52
2021-04-26  1348000  0.84  3217.53      NaN      NaN  3186.10
2021-04-27  1170500  0.84  3215.42  3217.53      NaN      NaN
2021-04-28   956000  0.83  3181.47  3215.42  3217.53      NaN
2021-04-29  1142500  0.83  3174.07  3181.47  3215.42  3217.53

[1182 rows x 6 columns]

In [123]:
del df_1['KOSPI-1'], df_1['KOSPI-2'], df_1['KOSPI-3']
df_1

               매출금액  시장금리    KOSPI
매출일자
2018-01-01  3314000  1.99  2479.65
2018-01-02  2020500  1.99  2479.65
2018-01-03  2019500  1.96  2486.35
2018-01-04  2178000  1.95  2466.46
2018-01-05  2401500  1.95  2497.52
...             ...   ...      ...
2021-04-25  1810000  0.84  3186.10
2021-04-26  1348000  0.84  3217.53
2021-04-27  1170500  0.84  3215.42
2021-04-28   956000  0.83  3181.47
2021-04-29  1142500  0.83  3174.07

[1182 rows x 3 columns]

In [125]:
df_1_in = df_1.diff().dropna()
df_1_in ## 차분

                 매출금액  시장금리  KOSPI
매출일자
2018-01-02 -1293500.0  0.00   0.00
2018-01-03    -1000.0 -0.03   6.70
2018-01-04   158500.0 -0.01 -19.89
2018-01-05   223500.0  0.00  31.06
2018-01-06   422000.0  0.00   0.00
...               ...   ...    ...
2021-04-25  -349500.0  0.00   0.00
2021-04-26  -462000.0  0.00  31.43
2021-04-27  -177500.0  0.00  -2.11
2021-04-28  -214500.0 -0.01 -33.95
2021-04-29   186500.0  0.00  -7.40

[1164 rows x 3 columns]

In [127]:
df_1_logdiff = np.log(df_1).diff().dropna()
df_1_logdiff  ##분산차분

                매출금액      시장금리     KOSPI
매출일자
2018-01-02 -0.494811  0.000000  0.000000
2018-01-03 -0.000495 -0.015190  0.002698
2018-01-04  0.075557 -0.005115 -0.008032
2018-01-05  0.097687  0.000000  0.012514
2018-01-06  0.161884  0.000000  0.000000
...              ...       ...       ...
2021-04-25 -0.176550  0.000000  0.000000
2021-04-26 -0.294705  0.000000  0.009816
2021-04-27 -0.141191  0.000000 -0.000656
2021-04-28 -0.202428 -0.011976 -0.010615
2021-04-29  0.178216  0.000000 -0.002329

[1164 rows x 3 columns]

In [128]:
model = VAR(df_1_logdiff)
results = model.fit(84)
results.summary()

C:\Users\alswo\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:583: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Sun, 02, May, 2021
Time:                     16:57:01
--------------------------------------------------------------------
No. of Equations:         3.00000    BIC:                   -16.9621
Nobs:                     1080.00    HQIC:                  -19.1388
Log likelihood:           7212.89    FPE:                1.32920e-09
AIC:                     -20.4653    Det(Omega_mle):     7.06923e-10
--------------------------------------------------------------------
Results for equation 매출금액
============================================================================
               coefficient       std. error           t-stat            prob
----------------------------------------------------------------------------
const             0.032326         0.013616            2.374           0.018
L1.매출금액          -0.691949         0.034831          -19.866           0.000
L1.시장금리          -3.025629         1.334025           -2.268           0.023
L1.KOSPI         -0.820300         1.078121           -0.761           0.447
L2.매출금액          -0.579386         0.042786          -13.542           0.000
L2.시장금리           1.208299         1.365066            0.885           0.376
L2.KOSPI          0.538860         1.079695            0.499           0.618
L3.매출금액          -0.496594         0.047270          -10.506           0.000
L3.시장금리          -0.103192         1.367145           -0.075           0.940
L3.KOSPI          0.627848         1.081982            0.580           0.562
L4.매출금액          -0.446135         0.050220           -8.884           0.000
L4.시장금리          -1.327258         1.385420           -0.958           0.338
L4.KOSPI          2.175940         1.082948            2.009           0.045
L5.매출금액          -0.297756         0.052505           -5.671           0.000
L5.시장금리          -0.411861         1.388265           -0.297           0.767
L5.KOSPI         -1.463958         1.084038           -1.350           0.177
L6.매출금액          -0.187218         0.053467           -3.502           0.000
L6.시장금리           2.504890         1.393028            1.798           0.072
L6.KOSPI         -1.565089         1.085126           -1.442           0.149
L7.매출금액          -0.042700         0.053864           -0.793           0.428
L7.시장금리           1.165412         1.393580            0.836           0.403
L7.KOSPI         -0.586016         1.076020           -0.545           0.586
L8.매출금액           0.015472         0.053835            0.287           0.774
L8.시장금리           0.036709         1.392638            0.026           0.979
L8.KOSPI         -0.655501         1.077719           -0.608           0.543
L9.매출금액          -0.029613         0.053605           -0.552           0.581
L9.시장금리           0.141949         1.393562            0.102           0.919
L9.KOSPI         -2.030585         1.081104           -1.878           0.060
L10.매출금액         -0.132014         0.053473           -2.469           0.014
L10.시장금리          0.362287         1.392836            0.260           0.795
L10.KOSPI         1.252817         1.076975            1.163           0.245
L11.매출금액         -0.156323         0.053677           -2.912           0.004
L11.시장금리         -0.074569         1.392925           -0.054           0.957
L11.KOSPI         1.427392         1.075425            1.327           0.184
L12.매출금액         -0.160311         0.054091           -2.964           0.003
L12.시장금리         -0.495757         1.390686           -0.356           0.721
L12.KOSPI         0.892842         1.075349            0.830           0.406
L13.매출금액         -0.163050         0.054404           -2.997           0.003
L13.시장금리          0.051715         1.390576            0.037           0.970
L13.KOSPI        -0.930828         1.075583           -0.865           0.387
L14.매출금액         -0.040133         0.054774           -0.733           0.464
L14.시장금리          1.343099         1.387377            0.968           0.333
L14.KOSPI         0.864798         1.081101            0.800           0.424
L15.매출금액         -0.027892         0.054809           -0.509           0.611
L15.시장금리          2.016206         1.384372            1.456           0.145
L15.KOSPI        -1.418724         1.079798           -1.314           0.189
L16.매출금액         -0.062800         0.054752           -1.147           0.251
L16.시장금리          1.911368         1.373308            1.392           0.164
L16.KOSPI        -1.545433         1.081949           -1.428           0.153
L17.매출금액         -0.060182         0.054702           -1.100           0.271
L17.시장금리          0.876987         1.370824            0.640           0.522
L17.KOSPI        -0.444000         1.083161           -0.410           0.682
L18.매출금액         -0.073247         0.054679           -1.340           0.180
L18.시장금리         -0.997899         1.375492           -0.725           0.468
L18.KOSPI         0.805682         1.083550            0.744           0.457
L19.매출금액         -0.140369         0.054715           -2.565           0.010
L19.시장금리         -1.612927         1.376733           -1.172           0.241
L19.KOSPI         0.714109         1.083578            0.659           0.510
L20.매출금액         -0.087401         0.054727           -1.597           0.110
L20.시장금리          0.153220         1.375612            0.111           0.911
L20.KOSPI        -1.109542         1.077326           -1.030           0.303
L21.매출금액         -0.050143         0.054870           -0.914           0.361
L21.시장금리         -0.316819         1.376602           -0.230           0.818
L21.KOSPI        -0.372858         1.081418           -0.345           0.730
L22.매출금액         -0.055173         0.054941           -1.004           0.315
L22.시장금리         -0.434221         1.372131           -0.316           0.752
L22.KOSPI         1.512673         1.079034            1.402           0.161
L23.매출금액         -0.108489         0.055022           -1.972           0.049
L23.시장금리         -1.209249         1.370349           -0.882           0.378
L23.KOSPI        -0.958101         1.081033           -0.886           0.375
L24.매출금액         -0.071072         0.055138           -1.289           0.197
L24.시장금리         -0.310372         1.374557           -0.226           0.821
L24.KOSPI         0.348807         1.078536            0.323           0.746
L25.매출금액         -0.081999         0.055153           -1.487           0.137
L25.시장금리          1.660038         1.373725            1.208           0.227
L25.KOSPI         0.744488         1.077850            0.691           0.490
L26.매출금액         -0.093800         0.055187           -1.700           0.089
L26.시장금리          1.751368         1.374690            1.274           0.203
L26.KOSPI         0.075670         1.076789            0.070           0.944
L27.매출금액         -0.021746         0.055252           -0.394           0.694
L27.시장금리          0.346100         1.372331            0.252           0.801
L27.KOSPI        -0.414920         1.076533           -0.385           0.700
L28.매출금액          0.025385         0.055292            0.459           0.646
L28.시장금리         -0.460141         1.373710           -0.335           0.738
L28.KOSPI         1.042084         1.076772            0.968           0.333
L29.매출금액          0.026651         0.055270            0.482           0.630
L29.시장금리         -0.707687         1.381339           -0.512           0.608
L29.KOSPI        -0.283271         1.073440           -0.264           0.792
L30.매출금액         -0.005955         0.055177           -0.108           0.914
L30.시장금리          1.235285         1.378594            0.896           0.370
L30.KOSPI         0.008775         1.072456            0.008           0.993
L31.매출금액          0.034186         0.055117            0.620           0.535
L31.시장금리         -1.093698         1.378579           -0.793           0.428
L31.KOSPI        -0.949452         1.074423           -0.884           0.377
L32.매출금액         -0.022301         0.055051           -0.405           0.685
L32.시장금리          0.964119         1.378549            0.699           0.484
L32.KOSPI        -0.955668         1.074289           -0.890           0.374
L33.매출금액         -0.054331         0.054965           -0.988           0.323
L33.시장금리          0.008971         1.378770            0.007           0.995
L33.KOSPI        -0.390337         1.074041           -0.363           0.716
L34.매출금액         -0.048016         0.054973           -0.873           0.382
L34.시장금리          1.555781         1.374624            1.132           0.258
L34.KOSPI        -0.126211         1.072166           -0.118           0.906
L35.매출금액         -0.002493         0.054951           -0.045           0.964
L35.시장금리         -0.692762         1.373922           -0.504           0.614
L35.KOSPI        -0.607919         1.070036           -0.568           0.570
L36.매출금액         -0.006647         0.054942           -0.121           0.904
L36.시장금리          0.754729         1.379118            0.547           0.584
L36.KOSPI        -0.925277         1.073379           -0.862           0.389
L37.매출금액         -0.031727         0.054915           -0.578           0.563
L37.시장금리         -1.555295         1.378059           -1.129           0.259
L37.KOSPI         0.200760         1.075060            0.187           0.852
L38.매출금액         -0.002094         0.054916           -0.038           0.970
L38.시장금리         -1.058123         1.377532           -0.768           0.442
L38.KOSPI         0.050867         1.075989            0.047           0.962
L39.매출금액         -0.063776         0.054921           -1.161           0.246
L39.시장금리         -0.503966         1.376733           -0.366           0.714
L39.KOSPI        -0.401080         1.075669           -0.373           0.709
L40.매출금액         -0.044546         0.054924           -0.811           0.417
L40.시장금리          0.087258         1.375815            0.063           0.949
L40.KOSPI         0.416530         1.076628            0.387           0.699
L41.매출금액         -0.014920         0.054894           -0.272           0.786
L41.시장금리         -1.585409         1.376391           -1.152           0.249
L41.KOSPI         1.077984         1.077072            1.001           0.317
L42.매출금액         -0.017452         0.054984           -0.317           0.751
L42.시장금리         -1.318177         1.375882           -0.958           0.338
L42.KOSPI        -0.720603         1.078130           -0.668           0.504
L43.매출금액         -0.014902         0.054969           -0.271           0.786
L43.시장금리          0.376755         1.373582            0.274           0.784
L43.KOSPI        -0.302305         1.077824           -0.280           0.779
L44.매출금액         -0.033775         0.054915           -0.615           0.539
L44.시장금리          0.037009         1.374650            0.027           0.979
L44.KOSPI         0.774479         1.078394            0.718           0.473
L45.매출금액         -0.049230         0.054803           -0.898           0.369
L45.시장금리          1.066218         1.374884            0.775           0.438
L45.KOSPI        -0.496129         1.078213           -0.460           0.645
L46.매출금액         -0.027323         0.054715           -0.499           0.618
L46.시장금리         -0.501059         1.375348           -0.364           0.716
L46.KOSPI        -0.007453         1.076458           -0.007           0.994
L47.매출금액          0.012995         0.054671            0.238           0.812
L47.시장금리          1.144164         1.377285            0.831           0.406
L47.KOSPI         1.344009         1.077127            1.248           0.212
L48.매출금액         -0.003413         0.054638           -0.062           0.950
L48.시장금리         -0.483733         1.377898           -0.351           0.726
L48.KOSPI        -0.683259         1.076808           -0.635           0.526
L49.매출금액         -0.048170         0.054365           -0.886           0.376
L49.시장금리          2.617404         1.374113            1.905           0.057
L49.KOSPI        -0.956965         1.069247           -0.895           0.371
L50.매출금액         -0.062034         0.053941           -1.150           0.250
L50.시장금리         -0.950379         1.373419           -0.692           0.489
L50.KOSPI         0.707406         1.067220            0.663           0.507
L51.매출금액         -0.078871         0.053783           -1.466           0.143
L51.시장금리         -0.130132         1.374099           -0.095           0.925
L51.KOSPI        -2.195108         1.070635           -2.050           0.040
L52.매출금액         -0.122021         0.053792           -2.268           0.023
L52.시장금리         -0.942359         1.376884           -0.684           0.494
L52.KOSPI        -1.482605         1.073525           -1.381           0.167
L53.매출금액         -0.130075         0.053890           -2.414           0.016
L53.시장금리          1.075920         1.378078            0.781           0.435
L53.KOSPI         0.430206         1.076189            0.400           0.689
L54.매출금액         -0.082312         0.053918           -1.527           0.127
L54.시장금리          1.299884         1.379685            0.942           0.346
L54.KOSPI        -0.874779         1.074494           -0.814           0.416
L55.매출금액         -0.101717         0.053963           -1.885           0.059
L55.시장금리         -1.170407         1.378481           -0.849           0.396
L55.KOSPI         0.644832         1.074408            0.600           0.548
L56.매출금액         -0.063127         0.054009           -1.169           0.242
L56.시장금리          0.654555         1.377226            0.475           0.635
L56.KOSPI        -0.142335         1.072222           -0.133           0.894
L57.매출금액         -0.023374         0.053980           -0.433           0.665
L57.시장금리         -0.242256         1.371213           -0.177           0.860
L57.KOSPI         0.318126         1.074079            0.296           0.767
L58.매출금액         -0.041012         0.053958           -0.760           0.447
L58.시장금리         -0.726096         1.370257           -0.530           0.596
L58.KOSPI        -0.242771         1.075710           -0.226           0.821
L59.매출금액         -0.041515         0.054004           -0.769           0.442
L59.시장금리         -0.921517         1.367687           -0.674           0.500
L59.KOSPI        -0.754195         1.076982           -0.700           0.484
L60.매출금액         -0.000765         0.054104           -0.014           0.989
L60.시장금리          0.222515         1.367520            0.163           0.871
L60.KOSPI         0.688332         1.077237            0.639           0.523
L61.매출금액         -0.016476         0.054226           -0.304           0.761
L61.시장금리         -0.211641         1.366852           -0.155           0.877
L61.KOSPI         0.323766         1.074982            0.301           0.763
L62.매출금액         -0.014356         0.054390           -0.264           0.792
L62.시장금리         -1.023341         1.368519           -0.748           0.455
L62.KOSPI         1.158027         1.071065            1.081           0.280
L63.매출금액         -0.021873         0.054459           -0.402           0.688
L63.시장금리          1.313905         1.371233            0.958           0.338
L63.KOSPI        -0.996348         1.072681           -0.929           0.353
L64.매출금액         -0.058754         0.054598           -1.076           0.282
L64.시장금리          2.143052         1.371530            1.563           0.118
L64.KOSPI        -0.210297         1.085797           -0.194           0.846
L65.매출금액         -0.104489         0.054741           -1.909           0.056
L65.시장금리         -2.916430         1.371946           -2.126           0.034
L65.KOSPI         0.390302         1.086269            0.359           0.719
L66.매출금액         -0.012389         0.054800           -0.226           0.821
L66.시장금리          0.467528         1.375299            0.340           0.734
L66.KOSPI        -0.809030         1.086619           -0.745           0.457
L67.매출금액         -0.030690         0.054764           -0.560           0.575
L67.시장금리         -0.521310         1.374527           -0.379           0.704
L67.KOSPI         0.481462         1.088793            0.442           0.658
L68.매출금액         -0.006977         0.054720           -0.128           0.899
L68.시장금리          0.394309         1.373494            0.287           0.774
L68.KOSPI        -0.217090         1.081091           -0.201           0.841
L69.매출금액         -0.027176         0.054684           -0.497           0.619
L69.시장금리         -1.295890         1.373576           -0.943           0.345
L69.KOSPI         0.424049         1.087575            0.390           0.697
L70.매출금액         -0.063070         0.054605           -1.155           0.248
L70.시장금리         -0.192198         1.378564           -0.139           0.889
L70.KOSPI         0.624421         1.091289            0.572           0.567
L71.매출금액         -0.030455         0.054586           -0.558           0.577
L71.시장금리         -0.744115         1.381150           -0.539           0.590
L71.KOSPI         0.927664         1.091199            0.850           0.395
L72.매출금액         -0.045038         0.054395           -0.828           0.408
L72.시장금리         -1.214235         1.375177           -0.883           0.377
L72.KOSPI        -1.043311         1.079311           -0.967           0.334
L73.매출금액         -0.064405         0.054246           -1.187           0.235
L73.시장금리          1.888874         1.373586            1.375           0.169
L73.KOSPI        -1.817205         1.081377           -1.680           0.093
L74.매출금액         -0.108655         0.054145           -2.007           0.045
L74.시장금리          2.153546         1.375714            1.565           0.117
L74.KOSPI        -1.458480         1.083427           -1.346           0.178
L75.매출금액         -0.140697         0.054191           -2.596           0.009
L75.시장금리          0.458119         1.376857            0.333           0.739
L75.KOSPI         0.243603         1.084629            0.225           0.822
L76.매출금액         -0.165297         0.054406           -3.038           0.002
L76.시장금리         -2.229729         1.381826           -1.614           0.107
L76.KOSPI         0.142735         1.083282            0.132           0.895
L77.매출금액          0.018942         0.054811            0.346           0.730
L77.시장금리         -0.623429         1.382143           -0.451           0.652
L77.KOSPI         1.324845         1.079201            1.228           0.220
L78.매출금액         -0.030800         0.054853           -0.561           0.574
L78.시장금리         -0.271213         1.381680           -0.196           0.844
L78.KOSPI         1.448275         1.081224            1.339           0.180
L79.매출금액          0.013330         0.054294            0.246           0.806
L79.시장금리          1.037059         1.381868            0.750           0.453
L79.KOSPI         0.203390         1.084170            0.188           0.851
L80.매출금액          0.039260         0.052672            0.745           0.456
L80.시장금리         -0.346264         1.380713           -0.251           0.802
L80.KOSPI        -0.234500         1.083774           -0.216           0.829
L81.매출금액          0.083993         0.050036            1.679           0.093
L81.시장금리         -0.925055         1.376876           -0.672           0.502
L81.KOSPI        -1.839141         1.087452           -1.691           0.091
L82.매출금액          0.096436         0.046518            2.073           0.038
L82.시장금리          0.634810         1.377902            0.461           0.645
L82.KOSPI        -0.113101         1.075347           -0.105           0.916
L83.매출금액          0.052274         0.041262            1.267           0.205