In [1]:
import numpy as np
import pandas as pd
import os
import statsmodels.api as sm
from statsmodels.tsa.api import VAR

In [2]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축')
df_1 = pd.read_excel('sangin_monthly_sales.xlsx')
df_1 = df_1.transpose()
df_1.columns = df_1.iloc[0]
df_1 = df_1.iloc[1:]
df_1.index = df_1['날짜']
del df_1['날짜']
in_list = [str(i)[:10] for i in df_1.index]
df_1.index = in_list
df_1

Unnamed: 0 무보까국밥(상인점)
2018-01-01   61898000
2018-02-01   49484000
2018-03-01   52142000
2018-04-01   49005500
2018-05-01   48055500
2018-06-01   45686000
2018-07-01   47015000
2018-08-01   56392000
2018-09-01   52158500
2018-10-01   49573500
2018-11-01   53709000
2018-12-01   61566000
2019-01-01   57038500
2019-02-01   54490500
2019-03-01   49664000
2019-04-01   43742000
2019-05-01   49220000
2019-06-01   47204500
2019-07-01   12643500
2019-08-01   47223500
2019-09-01   57420500
2019-10-01   59286000
2019-11-01   61008500
2019-12-01   69387000
2020-01-01   67066500
2020-02-01   44161000
2020-03-01   35907000
2020-04-01   43411000
2020-05-01   47947500
2020-06-01   42362500
2020-07-01   46436000
2020-08-01   50191500
2020-09-01   50576500
2020-10-01   60584500
2020-11-01   51665500
2020-12-01   42923500

In [3]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\경제지표')
df_CPI = pd.read_csv('소비자물가지수_20111~202103_월단위.csv', encoding = 'cp949')
df_CPI = df_CPI.transpose()
df_CPI.columns = df_CPI.iloc[0]
df_CPI = df_CPI.iloc[1:]
df_CPI.index = df_CPI['날짜']
del df_CPI['날짜']
df_CPI

0          소비자물가지수
날짜
2011-01-01     93
2011-02-01     94
2011-03-01     94
2011-04-01     94
2011-05-01     94
...            ...
2020-11-01    106
2020-12-01    106
2021-01-01    106
2021-02-01    107
2021-03-01    107

[123 rows x 1 columns]

In [4]:
df_1['소비자물가지수'] = df_CPI['소비자물가지수']
df_1

Unnamed: 0 무보까국밥(상인점) 소비자물가지수
2018-01-01   61898000    103
2018-02-01   49484000    104
2018-03-01   52142000    104
2018-04-01   49005500    104
2018-05-01   48055500    104
2018-06-01   45686000    104
2018-07-01   47015000    104
2018-08-01   56392000    105
2018-09-01   52158500    106
2018-10-01   49573500    105
2018-11-01   53709000    105
2018-12-01   61566000    104
2019-01-01   57038500    104
2019-02-01   54490500    105
2019-03-01   49664000    104
2019-04-01   43742000    105
2019-05-01   49220000    105
2019-06-01   47204500    105
2019-07-01   12643500    105
2019-08-01   47223500    105
2019-09-01   57420500    105
2019-10-01   59286000    105
2019-11-01   61008500    105
2019-12-01   69387000    105
2020-01-01   67066500    106
2020-02-01   44161000    106
2020-03-01   35907000    106
2020-04-01   43411000    105
2020-05-01   47947500    105
2020-06-01   42362500    105
2020-07-01   46436000    105
2020-08-01   50191500    106
2020-09-01   50576500    106
2020-10-01   60584500    106
2020-11-01   51665500    106
2020-12-01   42923500    106

In [146]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\VAR_전처리')
df_1.to_csv('상인월매출_소비자물가지수.csv', encoding = 'cp949')

In [5]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\경제지표')
df_PI = pd.read_csv('숙박_음식점_생산지수_2011~202102_월단위.csv')
df_PI = df_PI.transpose()
df_PI = df_PI.iloc[1:]
df_PI.index = df_PI[0]
del df_PI[0]
df_PI.columns = ['숙박_음식점_생산지수']
df_PI

           숙박_음식점_생산지수
0
2011-01-01        102
2011-02-01         93
2011-03-01         98
2011-04-01        101
2011-05-01        109
...                ...
2020-10-01         83
2020-11-01         81
2020-12-01         66
2021-01-01         60
2021-02-01         65

[122 rows x 1 columns]

In [6]:
df_1['숙박_음식점_생산지수'] = df_PI['숙박_음식점_생산지수']
df_1

Unnamed: 0 무보까국밥(상인점) 소비자물가지수 숙박_음식점_생산지수
2018-01-01   61898000    103          96
2018-02-01   49484000    104          89
2018-03-01   52142000    104          98
2018-04-01   49005500    104          97
2018-05-01   48055500    104         101
2018-06-01   45686000    104          98
2018-07-01   47015000    104         102
2018-08-01   56392000    105         102
2018-09-01   52158500    106          96
2018-10-01   49573500    105          98
2018-11-01   53709000    105          97
2018-12-01   61566000    104         109
2019-01-01   57038500    104          97
2019-02-01   54490500    105          87
2019-03-01   49664000    104          95
2019-04-01   43742000    105          96
2019-05-01   49220000    105         101
2019-06-01   47204500    105          96
2019-07-01   12643500    105          99
2019-08-01   47223500    105         102
2019-09-01   57420500    105          91
2019-10-01   59286000    105          98
2019-11-01   61008500    105          97
2019-12-01   69387000    105         110
2020-01-01   67066500    106          95
2020-02-01   44161000    106          74
2020-03-01   35907000    106          64
2020-04-01   43411000    105          72
2020-05-01   47947500    105          87
2020-06-01   42362500    105          85
2020-07-01   46436000    105          90
2020-08-01   50191500    106          85
2020-09-01   50576500    106          72
2020-10-01   60584500    106          83
2020-11-01   51665500    106          81
2020-12-01   42923500    106          66

In [123]:
CPI_list = [int(CPI) for CPI in df_1['소비자물가지수']]
PI_list = [int(PI) for PI in df_1['숙박_음식점_생산지수']]
df_1['소비자물가지수'] = CPI_list
df_1['숙박_음식점_생산지수'] = PI_list
df_1

KeyError: '소비자물가지수'

In [11]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\VAR_전처리')
df_1.to_csv('상인월매출_CPI_PI.csv', encoding = 'cp949')

In [145]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\VAR_전처리')
df_1 = pd.read_csv('상인월매출_CPI_PI.csv', encoding = 'cp949')
df_1.index = df_1['Unnamed: 0']
del df_1['Unnamed: 0']
df_1

            무보까국밥(상인점)  숙박_음식점_생산지수
Unnamed: 0
2018-01-01    61898000           96
2018-02-01    49484000           89
2018-03-01    52142000           98
2018-04-01    49005500           97
2018-05-01    48055500          101
2018-06-01    45686000           98
2018-07-01    47015000          102
2018-08-01    56392000          102
2018-09-01    52158500           96
2018-10-01    49573500           98
2018-11-01    53709000           97
2018-12-01    61566000          109
2019-01-01    57038500           97
2019-02-01    54490500           87
2019-03-01    49664000           95
2019-04-01    43742000           96
2019-05-01    49220000          101
2019-06-01    47204500           96
2019-07-01    12643500           99
2019-08-01    47223500          102
2019-09-01    57420500           91
2019-10-01    59286000           98
2019-11-01    61008500           97
2019-12-01    69387000          110
2020-01-01    67066500           95
2020-02-01    44161000           74
2020-03-01    35907000           64
2020-04-01    43411000           72
2020-05-01    47947500           87
2020-06-01    42362500           85
2020-07-01    46436000           90
2020-08-01    50191500           85
2020-09-01    50576500           72
2020-10-01    60584500           83
2020-11-01    51665500           81
2020-12-01    42923500           66

In [139]:
sales_list = [np.int(sales) for sales in df_1['무보까국밥(상인점)']]
df_1['무보까국밥(상인점)'] = sales_list
df_1

            무보까국밥(상인점)  숙박_음식점_생산지수
Unnamed: 0
2018-01-01    61898000           96
2018-02-01    49484000           89
2018-03-01    52142000           98
2018-04-01    49005500           97
2018-05-01    48055500          101
2018-06-01    45686000           98
2018-07-01    47015000          102
2018-08-01    56392000          102
2018-09-01    52158500           96
2018-10-01    49573500           98
2018-11-01    53709000           97
2018-12-01    61566000          109
2019-01-01    57038500           97
2019-02-01    54490500           87
2019-03-01    49664000           95
2019-04-01    43742000           96
2019-05-01    49220000          101
2019-06-01    47204500           96
2019-07-01    12643500           99
2019-08-01    47223500          102
2019-09-01    57420500           91
2019-10-01    59286000           98
2019-11-01    61008500           97
2019-12-01    69387000          110
2020-01-01    67066500           95
2020-02-01    44161000           74
2020-03-01    35907000           64
2020-04-01    43411000           72
2020-05-01    47947500           87
2020-06-01    42362500           85
2020-07-01    46436000           90
2020-08-01    50191500           85
2020-09-01    50576500           72
2020-10-01    60584500           83
2020-11-01    51665500           81
2020-12-01    42923500           66

In [132]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\VAR_전처리')
df_1.to_csv('상인월매출_CPI_PI.csv', encoding = 'cp949')

PermissionError: [Errno 13] Permission denied: '상인월매출_CPI_PI.csv'

In [59]:
df_1_log = np.log(df_1)
df_1_log

Unnamed: 0  무보까국밥(상인점)   소비자물가지수  숙박_음식점_생산지수
2018-01-01   17.940998  4.634729     4.564348
2018-02-01   17.717160  4.644391     4.488636
2018-03-01   17.769481  4.644391     4.584967
2018-04-01   17.707443  4.644391     4.574711
2018-05-01   17.687867  4.644391     4.615121
2018-06-01   17.637302  4.644391     4.584967
2018-07-01   17.665977  4.644391     4.624973
2018-08-01   17.847838  4.653960     4.624973
2018-09-01   17.769798  4.663439     4.564348
2018-10-01   17.718967  4.653960     4.584967
2018-11-01   17.799091  4.653960     4.574711
2018-12-01   17.935620  4.644391     4.691348
2019-01-01   17.859237  4.644391     4.574711
2019-02-01   17.813537  4.653960     4.465908
2019-03-01   17.720791  4.644391     4.553877
2019-04-01   17.593819  4.653960     4.564348
2019-05-01   17.711811  4.653960     4.615121
2019-06-01   17.670000  4.653960     4.564348
2019-07-01   16.352654  4.653960     4.595120
2019-08-01   17.670402  4.653960     4.624973
2019-09-01   17.865912  4.653960     4.510860
2019-10-01   17.897884  4.653960     4.584967
2019-11-01   17.926524  4.653960     4.574711
2019-12-01   18.055210  4.653960     4.700480
2020-01-01   18.021195  4.663439     4.553877
2020-02-01   17.603353  4.663439     4.304065
2020-03-01   17.396443  4.663439     4.158883
2020-04-01   17.586223  4.653960     4.276666
2020-05-01   17.685617  4.653960     4.465908
2020-06-01   17.561774  4.653960     4.442651
2020-07-01   17.653586  4.653960     4.499810
2020-08-01   17.731356  4.663439     4.442651
2020-09-01   17.738998  4.663439     4.276666
2020-10-01   17.919550  4.663439     4.418841
2020-11-01   17.760301  4.663439     4.394449
2020-12-01   17.574930  4.663439     4.189655

In [161]:
df_1_in = df_1.diff().dropna()
df_1_in ## 차분

Unnamed: 0 무보까국밥(상인점)  소비자물가지수  숙박_음식점_생산지수
2018-02-01  -12414000      1.0         -7.0
2018-03-01    2658000      0.0          9.0
2018-04-01   -3136500      0.0         -1.0
2018-05-01    -950000      0.0          4.0
2018-06-01   -2369500      0.0         -3.0
2018-07-01    1329000      0.0          4.0
2018-08-01    9377000      1.0          0.0
2018-09-01   -4233500      1.0         -6.0
2018-10-01   -2585000     -1.0          2.0
2018-11-01    4135500      0.0         -1.0
2018-12-01    7857000     -1.0         12.0
2019-01-01   -4527500      0.0        -12.0
2019-02-01   -2548000      1.0        -10.0
2019-03-01   -4826500     -1.0          8.0
2019-04-01   -5922000      1.0          1.0
2019-05-01    5478000      0.0          5.0
2019-06-01   -2015500      0.0         -5.0
2019-07-01  -34561000      0.0          3.0
2019-08-01   34580000      0.0          3.0
2019-09-01   10197000      0.0        -11.0
2019-10-01    1865500      0.0          7.0
2019-11-01    1722500      0.0         -1.0
2019-12-01    8378500      0.0         13.0
2020-01-01   -2320500      1.0        -15.0
2020-02-01  -22905500      0.0        -21.0
2020-03-01   -8254000      0.0        -10.0
2020-04-01    7504000     -1.0          8.0
2020-05-01    4536500      0.0         15.0
2020-06-01   -5585000      0.0         -2.0
2020-07-01    4073500      0.0          5.0
2020-08-01    3755500      1.0         -5.0
2020-09-01     385000      0.0        -13.0
2020-10-01   10008000      0.0         11.0
2020-11-01   -8919000      0.0         -2.0
2020-12-01   -8742000      0.0        -15.0

In [55]:
df_1_logdiff = np.log(df_1).diff().dropna()
df_1_logdiff  ##분산차분

Unnamed: 0  무보까국밥(상인점)   소비자물가지수  숙박_음식점_생산지수
2018-02-01   -0.223838  0.009662    -0.075712
2018-03-01    0.052321  0.000000     0.096331
2018-04-01   -0.062038  0.000000    -0.010257
2018-05-01   -0.019576  0.000000     0.040410
2018-06-01   -0.050565  0.000000    -0.030153
2018-07-01    0.028675  0.000000     0.040005
2018-08-01    0.181861  0.009569     0.000000
2018-09-01   -0.078040  0.009479    -0.060625
2018-10-01   -0.050831 -0.009479     0.020619
2018-11-01    0.080124  0.000000    -0.010257
2018-12-01    0.136529 -0.009569     0.116637
2019-01-01   -0.076383  0.000000    -0.116637
2019-02-01   -0.045700  0.009569    -0.108803
2019-03-01   -0.092746 -0.009569     0.087969
2019-04-01   -0.126972  0.009569     0.010471
2019-05-01    0.117991  0.000000     0.050772
2019-06-01   -0.041811  0.000000    -0.050772
2019-07-01   -1.317346  0.000000     0.030772
2019-08-01    1.317748  0.000000     0.029853
2019-09-01    0.195510  0.000000    -0.114113
2019-10-01    0.031972  0.000000     0.074108
2019-11-01    0.028640  0.000000    -0.010257
2019-12-01    0.128686  0.000000     0.125769
2020-01-01   -0.034015  0.009479    -0.146603
2020-02-01   -0.417843  0.000000    -0.249812
2020-03-01   -0.206910  0.000000    -0.145182
2020-04-01    0.189781 -0.009479     0.117783
2020-05-01    0.099394  0.000000     0.189242
2020-06-01   -0.123843  0.000000    -0.023257
2020-07-01    0.091811  0.000000     0.057158
2020-08-01    0.077771  0.009479    -0.057158
2020-09-01    0.007641  0.000000    -0.165985
2020-10-01    0.180552  0.000000     0.142174
2020-11-01   -0.159249  0.000000    -0.024391
2020-12-01   -0.185371  0.000000    -0.204794

In [60]:
model = VAR(df_1_log)
results = model.fit(7)
results.summary()

C:\Users\alswo\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:527: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  % freq, ValueWarning)

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Wed, 05, May, 2021
Time:                     15:22:16
--------------------------------------------------------------------
No. of Equations:         3.00000    BIC:                   -14.5833
Nobs:                     29.0000    HQIC:                  -16.7205
Log likelihood:           199.130    FPE:                8.42894e-08
AIC:                     -17.6950    Det(Omega_mle):     1.54973e-08
--------------------------------------------------------------------
Results for equation 무보까국밥(상인점)
=================================================================================
                    coefficient       std. error           t-stat            prob
---------------------------------------------------------------------------------
const                149.833113       263.632835            0.568           0.570
L1.무보까국밥(상인점)          0.194619         0.336789            0.578           0.563
L1.소비자물가지수           -30.155651        23.117157           -1.304           0.192
L1.숙박_음식점_생산지수        -0.821069         1.716563           -0.478           0.632
L2.무보까국밥(상인점)         -0.321482         0.312000           -1.030           0.303
L2.소비자물가지수             0.090021        26.219033            0.003           0.997
L2.숙박_음식점_생산지수         0.198542         1.502253            0.132           0.895
L3.무보까국밥(상인점)          0.087066         0.279812            0.311           0.756
L3.소비자물가지수             2.286805        20.690212            0.111           0.912
L3.숙박_음식점_생산지수         0.571675         1.349619            0.424           0.672
L4.무보까국밥(상인점)         -0.136995         0.269782           -0.508           0.612
L4.소비자물가지수            15.292362        19.317106            0.792           0.429
L4.숙박_음식점_생산지수        -1.017800         1.474021           -0.690           0.490
L5.무보까국밥(상인점)         -0.415245         0.297333           -1.397           0.163
L5.소비자물가지수           -35.272879        25.359937           -1.391           0.164
L5.숙박_음식점_생산지수         0.656209         1.522405            0.431           0.666
L6.무보까국밥(상인점)         -0.240702         0.415793           -0.579           0.563
L6.소비자물가지수            33.679928        32.516999            1.036           0.300
L6.숙박_음식점_생산지수         1.015587         1.483201            0.685           0.494
L7.무보까국밥(상인점)         -0.233482         0.404621           -0.577           0.564
L7.소비자물가지수            -9.344934        19.699137           -0.474           0.635
L7.숙박_음식점_생산지수        -1.531086         1.177090           -1.301           0.193
=================================================================================

Results for equation 소비자물가지수
=================================================================================
                    coefficient       std. error           t-stat            prob
---------------------------------------------------------------------------------
const                  6.016819         5.070788            1.187           0.235
L1.무보까국밥(상인점)         -0.004714         0.006478           -0.728           0.467
L1.소비자물가지수             0.332698         0.444642            0.748           0.454
L1.숙박_음식점_생산지수        -0.004626         0.033017           -0.140           0.889
L2.무보까국밥(상인점)          0.000838         0.006001            0.140           0.889
L2.소비자물가지수             0.076687         0.504304            0.152           0.879
L2.숙박_음식점_생산지수        -0.006841         0.028895           -0.237           0.813
L3.무보까국밥(상인점)          0.000598         0.005382            0.111           0.911
L3.소비자물가지수            -0.312741         0.397961           -0.786           0.432
L3.숙박_음식점_생산지수        -0.016294         0.025959           -0.628           0.530
L4.무보까국밥(상인점)         -0.000320         0.005189           -0.062           0.951
L4.소비자물가지수            -0.410659         0.371551           -1.105           0.269
L4.숙박_음식점_생산지수        -0.006353         0.028352           -0.224           0.823
L5.무보까국밥(상인점)         -0.000589         0.005719           -0.103           0.918
L5.소비자물가지수             0.461386         0.487780            0.946           0.344
L5.숙박_음식점_생산지수        -0.002220         0.029282           -0.076           0.940
L6.무보까국밥(상인점)         -0.008315         0.007997           -1.040           0.298
L6.소비자물가지수            -0.237019         0.625441           -0.379           0.705
L6.숙박_음식점_생산지수        -0.006096         0.028528           -0.214           0.831
L7.무보까국밥(상인점)         -0.007217         0.007783           -0.927           0.354
L7.소비자물가지수            -0.082113         0.378899           -0.217           0.828
L7.숙박_음식점_생산지수        -0.004645         0.022640           -0.205           0.837
=================================================================================

Results for equation 숙박_음식점_생산지수
=================================================================================
                    coefficient       std. error           t-stat            prob
---------------------------------------------------------------------------------
const                152.540489        82.781460            1.843           0.065
L1.무보까국밥(상인점)         -0.063334         0.105753           -0.599           0.549
L1.소비자물가지수           -11.079792         7.258853           -1.526           0.127
L1.숙박_음식점_생산지수        -0.040008         0.539006           -0.074           0.941
L2.무보까국밥(상인점)         -0.014277         0.097969           -0.146           0.884
L2.소비자물가지수            -8.541422         8.232851           -1.037           0.300
L2.숙박_음식점_생산지수        -0.397156         0.471712           -0.842           0.400
L3.무보까국밥(상인점)         -0.125561         0.087862           -1.429           0.153
L3.소비자물가지수             6.006128         6.496785            0.924           0.355
L3.숙박_음식점_생산지수         0.474775         0.423784            1.120           0.263
L4.무보까국밥(상인점)         -0.044930         0.084712           -0.530           0.596
L4.소비자물가지수            -5.762633         6.065626           -0.950           0.342
L4.숙박_음식점_생산지수        -0.634450         0.462847           -1.371           0.170
L5.무보까국밥(상인점)         -0.228859         0.093364           -2.451           0.014
L5.소비자물가지수            -9.328068         7.963092           -1.171           0.241
L5.숙박_음식점_생산지수         0.260089         0.478040            0.544           0.586
L6.무보까국밥(상인점)         -0.039157         0.130560           -0.300           0.764
L6.소비자물가지수            -5.582397        10.210430           -0.547           0.585
L6.숙박_음식점_생산지수         0.215563         0.465729            0.463           0.643
L7.무보까국밥(상인점)         -0.054619         0.127052           -0.430           0.667
L7.소비자물가지수             4.607402         6.185585            0.745           0.456
L7.숙박_음식점_생산지수         0.162873         0.369610            0.441           0.659
=================================================================================

Correlation matrix of residuals
               무보까국밥(상인점)   소비자물가지수  숙박_음식점_생산지수
무보까국밥(상인점)       1.000000  0.085745    -0.222865
소비자물가지수          0.085745  1.000000    -0.806098
숙박_음식점_생산지수     -0.222865 -0.806098     1.000000

#### EPU

In [140]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\경제지표')
EPU = pd.read_excel('Korea_Policy_Uncertainty_Data.xlsx')
EPU.index = EPU['Date']
del EPU['Date']
EPU

                     New South Korean EPU Index
Date
1/1990                               129.638657
2/1990                                73.562210
3/1990                               102.012573
4/1990                               118.501373
5/1990                                45.044033
...                                         ...
2020-09-01 00:00:00                  136.296806
2020-10-01 00:00:00                  189.379096
2020-11-01 00:00:00                  287.691066
2020-12-01 00:00:00                  182.512180
1/2021                               212.168949

[373 rows x 1 columns]

In [141]:
EPU_in_list = [str(EPU_in)[:10] for EPU_in in EPU.index]
EPU.index = EPU_in_list
EPU

            New South Korean EPU Index
1/1990                      129.638657
2/1990                       73.562210
3/1990                      102.012573
4/1990                      118.501373
5/1990                       45.044033
...                                ...
2020-09-01                  136.296806
2020-10-01                  189.379096
2020-11-01                  287.691066
2020-12-01                  182.512180
1/2021                      212.168949

[373 rows x 1 columns]

In [147]:
df_1['KOR_EPU'] = EPU['New South Korean EPU Index']
df_1

            무보까국밥(상인점)     KOR_EPU
Unnamed: 0
2018-01-01    61898000   95.630259
2018-02-01    49484000   71.157354
2018-03-01    52142000  129.418991
2018-04-01    49005500  103.855925
2018-05-01    48055500  134.964252
2018-06-01    45686000  126.329389
2018-07-01    47015000  155.153873
2018-08-01    56392000  149.484414
2018-09-01    52158500  153.960057
2018-10-01    49573500  176.211079
2018-11-01    53709000  203.245371
2018-12-01    61566000  243.033558
2019-01-01    57038500  249.436502
2019-02-01    54490500  146.823761
2019-03-01    49664000  172.994763
2019-04-01    43742000  138.911178
2019-05-01    49220000  230.145752
2019-06-01    47204500  248.528870
2019-07-01    12643500  316.855461
2019-08-01    47223500  538.176765
2019-09-01    57420500  275.198547
2019-10-01    59286000  274.024402
2019-11-01    61008500  239.355950
2019-12-01    69387000  257.886125
2020-01-01    67066500  255.230495
2020-02-01    44161000  159.151652
2020-03-01    35907000  224.871561
2020-04-01    43411000  211.494615
2020-05-01    47947500  252.086815
2020-06-01    42362500  245.735738
2020-07-01    46436000  160.697535
2020-08-01    50191500  162.820711
2020-09-01    50576500  136.296806
2020-10-01    60584500  189.379096
2020-11-01    51665500  287.691066
2020-12-01    42923500  182.512180

In [113]:
del df_1['소비자물가지수'], df_1['숙박_음식점_생산지수']
df_1

KeyError: '소비자물가지수'

In [115]:
df_1

    무보까국밥(상인점)  숙박_음식점_생산지수
0     61898000           96
1     49484000           89
2     52142000           98
3     49005500           97
4     48055500          101
5     45686000           98
6     47015000          102
7     56392000          102
8     52158500           96
9     49573500           98
10    53709000           97
11    61566000          109
12    57038500           97
13    54490500           87
14    49664000           95
15    43742000           96
16    49220000          101
17    47204500           96
18    12643500           99
19    47223500          102
20    57420500           91
21    59286000           98
22    61008500           97
23    69387000          110
24    67066500           95
25    44161000           74
26    35907000           64
27    43411000           72
28    47947500           87
29    42362500           85
30    46436000           90
31    50191500           85
32    50576500           72
33    60584500           83
34    51665500           81
35    42923500           66

In [114]:
df_1_logdiff = np.log(df_1).diff().dropna()
df_1_logdiff

    무보까국밥(상인점)  숙박_음식점_생산지수
1    -0.223838    -0.075712
2     0.052321     0.096331
3    -0.062038    -0.010257
4    -0.019576     0.040410
5    -0.050565    -0.030153
6     0.028675     0.040005
7     0.181861     0.000000
8    -0.078040    -0.060625
9    -0.050831     0.020619
10    0.080124    -0.010257
11    0.136529     0.116637
12   -0.076383    -0.116637
13   -0.045700    -0.108803
14   -0.092746     0.087969
15   -0.126972     0.010471
16    0.117991     0.050772
17   -0.041811    -0.050772
18   -1.317346     0.030772
19    1.317748     0.029853
20    0.195510    -0.114113
21    0.031972     0.074108
22    0.028640    -0.010257
23    0.128686     0.125769
24   -0.034015    -0.146603
25   -0.417843    -0.249812
26   -0.206910    -0.145182
27    0.189781     0.117783
28    0.099394     0.189242
29   -0.123843    -0.023257
30    0.091811     0.057158
31    0.077771    -0.057158
32    0.007641    -0.165985
33    0.180552     0.142174
34   -0.159249    -0.024391
35   -0.185371    -0.204794

In [112]:
model = VAR(df_1_logdiff)
results = model.fit(8)
results.summary()

C:\Users\alswo\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Wed, 05, May, 2021
Time:                     15:55:40
--------------------------------------------------------------------
No. of Equations:         2.00000    BIC:                   -5.07405
Nobs:                     27.0000    HQIC:                  -6.22063
Log likelihood:           47.9063    FPE:                 0.00190903
AIC:                     -6.70585    Det(Omega_mle):     0.000718846
--------------------------------------------------------------------
Results for equation 무보까국밥(상인점)
=================================================================================
                    coefficient       std. error           t-stat            prob
---------------------------------------------------------------------------------
const                 -0.002310         0.088593           -0.026           0.979
L1.무보까국밥(상인점)         -0.579471         0.339117           -1.709           0.087
L1.숙박_음식점_생산지수        -0.463223         1.708874           -0.271           0.786
L2.무보까국밥(상인점)         -0.515245         0.365128           -1.411           0.158
L2.숙박_음식점_생산지수        -0.634578         1.456955           -0.436           0.663
L3.무보까국밥(상인점)         -0.388081         0.366186           -1.060           0.289
L3.숙박_음식점_생산지수         0.616569         1.717129            0.359           0.720
L4.무보까국밥(상인점)         -0.349488         0.340545           -1.026           0.305
L4.숙박_음식점_생산지수        -1.366956         1.170455           -1.168           0.243
L5.무보까국밥(상인점)         -0.763518         0.373688           -2.043           0.041
L5.숙박_음식점_생산지수         1.505614         1.771354            0.850           0.395
L6.무보까국밥(상인점)         -0.591412         0.675778           -0.875           0.381
L6.숙박_음식점_생산지수         1.091191         1.176571            0.927           0.354
L7.무보까국밥(상인점)         -0.651127         0.626115           -1.040           0.298
L7.숙박_음식점_생산지수        -0.880758         1.069668           -0.823           0.410
L8.무보까국밥(상인점)         -0.151003         0.548891           -0.275           0.783
L8.숙박_음식점_생산지수         0.942628         1.264645            0.745           0.456
=================================================================================

Results for equation 숙박_음식점_생산지수
=================================================================================
                    coefficient       std. error           t-stat            prob
---------------------------------------------------------------------------------
const                 -0.041206         0.019766           -2.085           0.037
L1.무보까국밥(상인점)         -0.082290         0.075659           -1.088           0.277
L1.숙박_음식점_생산지수        -0.464817         0.381262           -1.219           0.223
L2.무보까국밥(상인점)         -0.042782         0.081463           -0.525           0.599
L2.숙박_음식점_생산지수        -0.927516         0.325057           -2.853           0.004
L3.무보까국밥(상인점)         -0.059687         0.081699           -0.731           0.465
L3.숙박_음식점_생산지수        -0.269725         0.383103           -0.704           0.481
L4.무보까국밥(상인점)         -0.087336         0.075978           -1.149           0.250
L4.숙박_음식점_생산지수        -0.759859         0.261137           -2.910           0.004
L5.무보까국밥(상인점)         -0.280704         0.083372           -3.367           0.001
L5.숙박_음식점_생산지수        -0.205009         0.395202           -0.519           0.604
L6.무보까국밥(상인점)         -0.248335         0.150771           -1.647           0.100
L6.숙박_음식점_생산지수        -0.152386         0.262501           -0.581           0.562
L7.무보까국밥(상인점)         -0.201522         0.139691           -1.443           0.149
L7.숙박_음식점_생산지수         0.143888         0.238650            0.603           0.547
L8.무보까국밥(상인점)         -0.002303         0.122461           -0.019           0.985
L8.숙박_음식점_생산지수        -0.456053         0.282151           -1.616           0.106
=================================================================================

Correlation matrix of residuals
               무보까국밥(상인점)  숙박_음식점_생산지수
무보까국밥(상인점)       1.000000    -0.357075
숙박_음식점_생산지수     -0.357075     1.000000

In [107]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\VAR_전처리')
df_1 = pd.read_csv('상인월매출_CPI_PI.csv', encoding = 'cp949')
del df_1['소비자물가지수']
del df_1['Unnamed: 0']
df_1

    무보까국밥(상인점)  숙박_음식점_생산지수
0     61898000           96
1     49484000           89
2     52142000           98
3     49005500           97
4     48055500          101
5     45686000           98
6     47015000          102
7     56392000          102
8     52158500           96
9     49573500           98
10    53709000           97
11    61566000          109
12    57038500           97
13    54490500           87
14    49664000           95
15    43742000           96
16    49220000          101
17    47204500           96
18    12643500           99
19    47223500          102
20    57420500           91
21    59286000           98
22    61008500           97
23    69387000          110
24    67066500           95
25    44161000           74
26    35907000           64
27    43411000           72
28    47947500           87
29    42362500           85
30    46436000           90
31    50191500           85
32    50576500           72
33    60584500           83
34    51665500           81
35    42923500           66

In [108]:
df_1_logdiff = np.log(df_1).diff().dropna()
df_1_logdiff

model = VAR(df_1_logdiff)
results = model.fit(8)
results.summary()

C:\Users\alswo\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Wed, 05, May, 2021
Time:                     15:54:48
--------------------------------------------------------------------
No. of Equations:         2.00000    BIC:                   -5.07405
Nobs:                     27.0000    HQIC:                  -6.22063
Log likelihood:           47.9063    FPE:                 0.00190903
AIC:                     -6.70585    Det(Omega_mle):     0.000718846
--------------------------------------------------------------------
Results for equation 무보까국밥(상인점)
=================================================================================
                    coefficient       std. error           t-stat            prob
---------------------------------------------------------------------------------
const                 -0.002310         0.088593           -0.026           0.979
L1.무보까국밥(상인점)         -0.579471         0.339117           -1.709           0.087
L1.숙박_음식점_생산지수        -0.463223         1.708874           -0.271           0.786
L2.무보까국밥(상인점)         -0.515245         0.365128           -1.411           0.158
L2.숙박_음식점_생산지수        -0.634578         1.456955           -0.436           0.663
L3.무보까국밥(상인점)         -0.388081         0.366186           -1.060           0.289
L3.숙박_음식점_생산지수         0.616569         1.717129            0.359           0.720
L4.무보까국밥(상인점)         -0.349488         0.340545           -1.026           0.305
L4.숙박_음식점_생산지수        -1.366956         1.170455           -1.168           0.243
L5.무보까국밥(상인점)         -0.763518         0.373688           -2.043           0.041
L5.숙박_음식점_생산지수         1.505614         1.771354            0.850           0.395
L6.무보까국밥(상인점)         -0.591412         0.675778           -0.875           0.381
L6.숙박_음식점_생산지수         1.091191         1.176571            0.927           0.354
L7.무보까국밥(상인점)         -0.651127         0.626115           -1.040           0.298
L7.숙박_음식점_생산지수        -0.880758         1.069668           -0.823           0.410
L8.무보까국밥(상인점)         -0.151003         0.548891           -0.275           0.783
L8.숙박_음식점_생산지수         0.942628         1.264645            0.745           0.456
=================================================================================

Results for equation 숙박_음식점_생산지수
=================================================================================
                    coefficient       std. error           t-stat            prob
---------------------------------------------------------------------------------
const                 -0.041206         0.019766           -2.085           0.037
L1.무보까국밥(상인점)         -0.082290         0.075659           -1.088           0.277
L1.숙박_음식점_생산지수        -0.464817         0.381262           -1.219           0.223
L2.무보까국밥(상인점)         -0.042782         0.081463           -0.525           0.599
L2.숙박_음식점_생산지수        -0.927516         0.325057           -2.853           0.004
L3.무보까국밥(상인점)         -0.059687         0.081699           -0.731           0.465
L3.숙박_음식점_생산지수        -0.269725         0.383103           -0.704           0.481
L4.무보까국밥(상인점)         -0.087336         0.075978           -1.149           0.250
L4.숙박_음식점_생산지수        -0.759859         0.261137           -2.910           0.004
L5.무보까국밥(상인점)         -0.280704         0.083372           -3.367           0.001
L5.숙박_음식점_생산지수        -0.205009         0.395202           -0.519           0.604
L6.무보까국밥(상인점)         -0.248335         0.150771           -1.647           0.100
L6.숙박_음식점_생산지수        -0.152386         0.262501           -0.581           0.562
L7.무보까국밥(상인점)         -0.201522         0.139691           -1.443           0.149
L7.숙박_음식점_생산지수         0.143888         0.238650            0.603           0.547
L8.무보까국밥(상인점)         -0.002303         0.122461           -0.019           0.985
L8.숙박_음식점_생산지수        -0.456053         0.282151           -1.616           0.106
=================================================================================

Correlation matrix of residuals
               무보까국밥(상인점)  숙박_음식점_생산지수
무보까국밥(상인점)       1.000000    -0.357075
숙박_음식점_생산지수     -0.357075     1.000000

In [146]:
del df_1['숙박_음식점_생산지수']
df_1

            무보까국밥(상인점)
Unnamed: 0
2018-01-01    61898000
2018-02-01    49484000
2018-03-01    52142000
2018-04-01    49005500
2018-05-01    48055500
2018-06-01    45686000
2018-07-01    47015000
2018-08-01    56392000
2018-09-01    52158500
2018-10-01    49573500
2018-11-01    53709000
2018-12-01    61566000
2019-01-01    57038500
2019-02-01    54490500
2019-03-01    49664000
2019-04-01    43742000
2019-05-01    49220000
2019-06-01    47204500
2019-07-01    12643500
2019-08-01    47223500
2019-09-01    57420500
2019-10-01    59286000
2019-11-01    61008500
2019-12-01    69387000
2020-01-01    67066500
2020-02-01    44161000
2020-03-01    35907000
2020-04-01    43411000
2020-05-01    47947500
2020-06-01    42362500
2020-07-01    46436000
2020-08-01    50191500
2020-09-01    50576500
2020-10-01    60584500
2020-11-01    51665500
2020-12-01    42923500

In [149]:
df_1_logdiff = np.log(df_1).diff().dropna()
df_1_logdiff

model = VAR(df_1_logdiff)
results = model.fit(8)
results.summary()

C:\Users\alswo\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:527: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  % freq, ValueWarning)

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Wed, 05, May, 2021
Time:                     17:23:36
--------------------------------------------------------------------
No. of Equations:         2.00000    BIC:                   -3.31770
Nobs:                     27.0000    HQIC:                  -4.46428
Log likelihood:           24.1955    FPE:                  0.0110558
AIC:                     -4.94949    Det(Omega_mle):      0.00416304
--------------------------------------------------------------------
Results for equation 무보까국밥(상인점)
================================================================================
                   coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------
const                 0.025640         0.063490            0.404           0.686
L1.무보까국밥(상인점)        -0.666958         0.292368           -2.281           0.023
L1.KOR_EPU            0.502205         0.364809            1.377           0.169
L2.무보까국밥(상인점)        -0.136330         0.370187           -0.368           0.713
L2.KOR_EPU            0.502870         0.378871            1.327           0.184
L3.무보까국밥(상인점)         0.406348         0.432345            0.940           0.347
L3.KOR_EPU            0.214687         0.397345            0.540           0.589
L4.무보까국밥(상인점)         0.358039         0.403401            0.888           0.375
L4.KOR_EPU            0.057178         0.347849            0.164           0.869
L5.무보까국밥(상인점)         0.052475         0.314945            0.167           0.868
L5.KOR_EPU            1.159474         0.368087            3.150           0.002
L6.무보까국밥(상인점)         0.284702         0.312561            0.911           0.362
L6.KOR_EPU           -0.187359         0.609429           -0.307           0.759
L7.무보까국밥(상인점)        -0.178516         0.312424           -0.571           0.568
L7.KOR_EPU           -1.133008         0.497536           -2.277           0.023
L8.무보까국밥(상인점)        -0.302264         0.242912           -1.244           0.213
L8.KOR_EPU           -0.538869         0.442612           -1.217           0.223
================================================================================

Results for equation KOR_EPU
================================================================================
                   coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------
const                -0.017448         0.055036           -0.317           0.751
L1.무보까국밥(상인점)        -0.440809         0.253440           -1.739           0.082
L1.KOR_EPU           -0.076562         0.316236           -0.242           0.809
L2.무보까국밥(상인점)        -0.269485         0.320898           -0.840           0.401
L2.KOR_EPU            0.106958         0.328426            0.326           0.745
L3.무보까국밥(상인점)        -0.400639         0.374780           -1.069           0.285
L3.KOR_EPU           -0.735431         0.344440           -2.135           0.033
L4.무보까국밥(상인점)        -0.589327         0.349690           -1.685           0.092
L4.KOR_EPU           -0.386618         0.301534           -1.282           0.200
L5.무보까국밥(상인점)        -0.468259         0.273011           -1.715           0.086
L5.KOR_EPU            0.706769         0.319078            2.215           0.027
L6.무보까국밥(상인점)        -0.043047         0.270944           -0.159           0.874
L6.KOR_EPU            0.082222         0.528285            0.156           0.876
L7.무보까국밥(상인점)        -0.041284         0.270826           -0.152           0.879
L7.KOR_EPU            0.011675         0.431291            0.027           0.978
L8.무보까국밥(상인점)        -0.205666         0.210569           -0.977           0.329
L8.KOR_EPU            0.516696         0.383679            1.347           0.178
================================================================================

Correlation matrix of residuals
              무보까국밥(상인점)   KOR_EPU
무보까국밥(상인점)      1.000000 -0.449718
KOR_EPU        -0.449718  1.000000

In [152]:
df_1.to_csv('상인월매출_EPU.csv', encoding = 'cp949')

In [171]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\경제지표')
ppi = pd.read_csv('생산자물가지수_2011~202103_월단위.csv', encoding = 'cp949')
ppi = ppi.transpose()
ppi.columns = ppi.iloc[0]
ppi = ppi.iloc[1:]
ppi.index = ppi['연월']
del ppi['연월']
ppi

Unnamed: 0 생산자물가지수
연월
2011-01-01     103
2011-02-01     104
2011-03-01     105
2011-04-01     106
2011-05-01     106
...            ...
2020-11-01     103
2020-12-01     104
2021-01-01     105
2021-02-01     106
2021-03-01     107

[123 rows x 1 columns]

In [173]:
df_1['생산자물가지수'] = ppi['생산자물가지수']
#del df_1['KOR_EPU']
df_1

            무보까국밥(상인점) 생산자물가지수
Unnamed: 0
2018-01-01    61898000     103
2018-02-01    49484000     103
2018-03-01    52142000     103
2018-04-01    49005500     103
2018-05-01    48055500     103
2018-06-01    45686000     103
2018-07-01    47015000     104
2018-08-01    56392000     104
2018-09-01    52158500     105
2018-10-01    49573500     104
2018-11-01    53709000     104
2018-12-01    61566000     103
2019-01-01    57038500     103
2019-02-01    54490500     103
2019-03-01    49664000     103
2019-04-01    43742000     104
2019-05-01    49220000     104
2019-06-01    47204500     104
2019-07-01    12643500     104
2019-08-01    47223500     104
2019-09-01    57420500     104
2019-10-01    59286000     104
2019-11-01    61008500     103
2019-12-01    69387000     104
2020-01-01    67066500     104
2020-02-01    44161000     104
2020-03-01    35907000     103
2020-04-01    43411000     102
2020-05-01    47947500     102
2020-06-01    42362500     102
2020-07-01    46436000     103
2020-08-01    50191500     103
2020-09-01    50576500     103
2020-10-01    60584500     103
2020-11-01    51665500     103
2020-12-01    42923500     104

In [176]:
ppi_list = [int(ppi) for ppi in df_1['생산자물가지수']]
df_1['생산자물가지수'] = ppi_list
df_1

            무보까국밥(상인점)  생산자물가지수
Unnamed: 0
2018-01-01    61898000      103
2018-02-01    49484000      103
2018-03-01    52142000      103
2018-04-01    49005500      103
2018-05-01    48055500      103
2018-06-01    45686000      103
2018-07-01    47015000      104
2018-08-01    56392000      104
2018-09-01    52158500      105
2018-10-01    49573500      104
2018-11-01    53709000      104
2018-12-01    61566000      103
2019-01-01    57038500      103
2019-02-01    54490500      103
2019-03-01    49664000      103
2019-04-01    43742000      104
2019-05-01    49220000      104
2019-06-01    47204500      104
2019-07-01    12643500      104
2019-08-01    47223500      104
2019-09-01    57420500      104
2019-10-01    59286000      104
2019-11-01    61008500      103
2019-12-01    69387000      104
2020-01-01    67066500      104
2020-02-01    44161000      104
2020-03-01    35907000      103
2020-04-01    43411000      102
2020-05-01    47947500      102
2020-06-01    42362500      102
2020-07-01    46436000      103
2020-08-01    50191500      103
2020-09-01    50576500      103
2020-10-01    60584500      103
2020-11-01    51665500      103
2020-12-01    42923500      104

In [177]:
df_1_logdiff = np.log(df_1).diff().dropna()
df_1_logdiff

model = VAR(df_1_logdiff)
results = model.fit(8)
results.summary()

C:\Users\alswo\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:527: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  % freq, ValueWarning)

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Wed, 05, May, 2021
Time:                     18:00:42
--------------------------------------------------------------------
No. of Equations:         2.00000    BIC:                   -11.1546
Nobs:                     27.0000    HQIC:                  -12.3011
Log likelihood:           129.993    FPE:                4.36594e-06
AIC:                     -12.7864    Det(Omega_mle):     1.64399e-06
--------------------------------------------------------------------
Results for equation 무보까국밥(상인점)
================================================================================
                   coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------
const                -0.003252         0.068236           -0.048           0.962
L1.무보까국밥(상인점)        -0.507373         0.258611           -1.962           0.050
L1.생산자물가지수           28.358778        25.520077            1.111           0.266
L2.무보까국밥(상인점)        -0.572836         0.298577           -1.919           0.055
L2.생산자물가지수          -36.819048        23.624862           -1.558           0.119
L3.무보까국밥(상인점)        -0.688501         0.275449           -2.500           0.012
L3.생산자물가지수          -15.453862        21.845285           -0.707           0.479
L4.무보까국밥(상인점)        -0.296871         0.269338           -1.102           0.270
L4.생산자물가지수           68.672641        26.241303            2.617           0.009
L5.무보까국밥(상인점)        -0.624980         0.254594           -2.455           0.014
L5.생산자물가지수          -16.770686        28.879729           -0.581           0.561
L6.무보까국밥(상인점)        -0.285847         0.309769           -0.923           0.356
L6.생산자물가지수          -27.049935        23.412945           -1.155           0.248
L7.무보까국밥(상인점)        -0.289651         0.406495           -0.713           0.476
L7.생산자물가지수           55.333154        20.512908            2.697           0.007
L8.무보까국밥(상인점)        -0.630880         0.304411           -2.072           0.038
L8.생산자물가지수            5.647234        24.678257            0.229           0.819
================================================================================

Results for equation 생산자물가지수
================================================================================
                   coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------
const                -0.000573         0.000767           -0.747           0.455
L1.무보까국밥(상인점)        -0.004012         0.002908           -1.379           0.168
L1.생산자물가지수           -0.056451         0.287014           -0.197           0.844
L2.무보까국밥(상인점)         0.003204         0.003358            0.954           0.340
L2.생산자물가지수            0.539523         0.265699            2.031           0.042
L3.무보까국밥(상인점)         0.001076         0.003098            0.347           0.728
L3.생산자물가지수           -0.820133         0.245685           -3.338           0.001
L4.무보까국밥(상인점)         0.002946         0.003029            0.972           0.331
L4.생산자물가지수           -0.555767         0.295125           -1.883           0.060
L5.무보까국밥(상인점)        -0.004072         0.002863           -1.422           0.155
L5.생산자물가지수            0.712120         0.324798            2.192           0.028
L6.무보까국밥(상인점)        -0.009096         0.003484           -2.611           0.009
L6.생산자물가지수           -0.296107         0.263316           -1.125           0.261
L7.무보까국밥(상인점)        -0.000868         0.004572           -0.190           0.849
L7.생산자물가지수           -0.599107         0.230700           -2.597           0.009
L8.무보까국밥(상인점)         0.003009         0.003424            0.879           0.380
L8.생산자물가지수            0.065076         0.277546            0.234           0.815
================================================================================

Correlation matrix of residuals
              무보까국밥(상인점)   생산자물가지수
무보까국밥(상인점)      1.000000 -0.106594
생산자물가지수        -0.106594  1.000000

In [181]:
df_1.to_csv('상인월매출_PPI.csv', encoding = 'cp949')

In [183]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\VAR_전처리')
cpi = pd.read_csv('상인월매출_소비자물가지수.csv', encoding = 'cp949')
cpi.index = cpi['Unnamed: 0']
del cpi['Unnamed: 0']
cpi

            무보까국밥(상인점)  소비자물가지수
Unnamed: 0
2018-01-01    61898000      103
2018-02-01    49484000      104
2018-03-01    52142000      104
2018-04-01    49005500      104
2018-05-01    48055500      104
2018-06-01    45686000      104
2018-07-01    47015000      104
2018-08-01    56392000      105
2018-09-01    52158500      106
2018-10-01    49573500      105
2018-11-01    53709000      105
2018-12-01    61566000      104
2019-01-01    57038500      104
2019-02-01    54490500      105
2019-03-01    49664000      104
2019-04-01    43742000      105
2019-05-01    49220000      105
2019-06-01    47204500      105
2019-07-01    12643500      105
2019-08-01    47223500      105
2019-09-01    57420500      105
2019-10-01    59286000      105
2019-11-01    61008500      105
2019-12-01    69387000      105
2020-01-01    67066500      106
2020-02-01    44161000      106
2020-03-01    35907000      106
2020-04-01    43411000      105
2020-05-01    47947500      105
2020-06-01    42362500      105
2020-07-01    46436000      105
2020-08-01    50191500      106
2020-09-01    50576500      106
2020-10-01    60584500      106
2020-11-01    51665500      106
2020-12-01    42923500      106

In [184]:
df_1_logdiff = np.log(cpi).diff().dropna()
df_1_logdiff

model = VAR(df_1_logdiff)
results = model.fit(8)
results.summary()

C:\Users\alswo\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:527: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  % freq, ValueWarning)

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Wed, 05, May, 2021
Time:                     18:17:01
--------------------------------------------------------------------
No. of Equations:         2.00000    BIC:                   -11.2982
Nobs:                     27.0000    HQIC:                  -12.4447
Log likelihood:           131.932    FPE:                3.78199e-06
AIC:                     -12.9300    Det(Omega_mle):     1.42411e-06
--------------------------------------------------------------------
Results for equation 무보까국밥(상인점)
================================================================================
                   coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------
const                -0.044235         0.088934           -0.497           0.619
L1.무보까국밥(상인점)        -0.486121         0.321586           -1.512           0.131
L1.소비자물가지수          -11.161791        19.318404           -0.578           0.563
L2.무보까국밥(상인점)        -0.473916         0.319017           -1.486           0.137
L2.소비자물가지수           -3.279767        18.334962           -0.179           0.858
L3.무보까국밥(상인점)        -0.356810         0.315946           -1.129           0.259
L3.소비자물가지수            7.533955        18.983527            0.397           0.691
L4.무보까국밥(상인점)        -0.330268         0.292481           -1.129           0.259
L4.소비자물가지수           28.692716        18.689480            1.535           0.125
L5.무보까국밥(상인점)        -0.405351         0.286044           -1.417           0.156
L5.소비자물가지수          -14.983962        22.942315           -0.653           0.514
L6.무보까국밥(상인점)        -0.434817         0.304349           -1.429           0.153
L6.소비자물가지수           12.332081        21.730283            0.568           0.570
L7.무보까국밥(상인점)        -0.387589         0.296819           -1.306           0.192
L7.소비자물가지수           23.767926        22.686284            1.048           0.295
L8.무보까국밥(상인점)        -0.228835         0.258806           -0.884           0.377
L8.소비자물가지수           10.313210        20.490966            0.503           0.615
================================================================================

Results for equation 소비자물가지수
================================================================================
                   coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------
const                 0.001887         0.000830            2.272           0.023
L1.무보까국밥(상인점)        -0.002133         0.003003           -0.710           0.478
L1.소비자물가지수           -0.667123         0.180396           -3.698           0.000
L2.무보까국밥(상인점)        -0.000738         0.002979           -0.248           0.804
L2.소비자물가지수           -0.409697         0.171213           -2.393           0.017
L3.무보까국밥(상인점)        -0.000656         0.002950           -0.222           0.824
L3.소비자물가지수           -0.419998         0.177269           -2.369           0.018
L4.무보까국밥(상인점)         0.002749         0.002731            1.006           0.314
L4.소비자물가지수           -0.840640         0.174523           -4.817           0.000
L5.무보까국밥(상인점)         0.002103         0.002671            0.787           0.431
L5.소비자물가지수           -0.313682         0.214237           -1.464           0.143
L6.무보까국밥(상인점)        -0.003455         0.002842           -1.216           0.224
L6.소비자물가지수           -0.318651         0.202919           -1.570           0.116
L7.무보까국밥(상인점)        -0.005729         0.002772           -2.067           0.039
L7.소비자물가지수           -0.278660         0.211846           -1.315           0.188
L8.무보까국밥(상인점)        -0.005888         0.002417           -2.436           0.015
L8.소비자물가지수           -0.364913         0.191346           -1.907           0.057
================================================================================

Correlation matrix of residuals
              무보까국밥(상인점)   소비자물가지수
무보까국밥(상인점)      1.000000  0.412799
소비자물가지수         0.412799  1.000000

In [193]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\경제지표')
csi = pd.read_csv('소비자동향지수_2011_202104_월단위.csv', encoding = 'cp949')
csi = csi.transpose()
csi.columns = csi.iloc[0]
csi = csi.iloc[1:]
csi.index = csi['날짜']
del csi['날짜']
csi

           소비자동향지수
날짜
2011-01-01     106
2011-02-01     104
2011-03-01     100
2011-04-01      99
2011-05-01      99
...            ...
2020-12-01      93
2021-01-01      96
2021-02-01      96
2021-03-01      96
2021-04-01      97

[124 rows x 1 columns]

In [197]:
#del df_1['생산자물가지수']
df_1['소비자동향지수'] = csi['소비자동향지수']
df_1

            무보까국밥(상인점) 소비자동향지수
Unnamed: 0
2018-01-01    61898000     105
2018-02-01    49484000     103
2018-03-01    52142000     103
2018-04-01    49005500     102
2018-05-01    48055500     101
2018-06-01    45686000     101
2018-07-01    47015000      99
2018-08-01    56392000      98
2018-09-01    52158500     101
2018-10-01    49573500      99
2018-11-01    53709000      97
2018-12-01    61566000      99
2019-01-01    57038500      98
2019-02-01    54490500      98
2019-03-01    49664000      98
2019-04-01    43742000      99
2019-05-01    49220000      97
2019-06-01    47204500      97
2019-07-01    12643500      96
2019-08-01    47223500      94
2019-09-01    57420500      97
2019-10-01    59286000      97
2019-11-01    61008500      99
2019-12-01    69387000      98
2020-01-01    67066500     101
2020-02-01    44161000      97
2020-03-01    35907000      87
2020-04-01    43411000      83
2020-05-01    47947500      87
2020-06-01    42362500      88
2020-07-01    46436000      90
2020-08-01    50191500      92
2020-09-01    50576500      88
2020-10-01    60584500      94
2020-11-01    51665500      96
2020-12-01    42923500      93

In [200]:
cpi_list = [int(cpi_each) for cpi_each in df_1['소비자동향지수']]
df_1['소비자동향지수'] = cpi_list
df_1

            무보까국밥(상인점)  소비자동향지수
Unnamed: 0
2018-01-01    61898000      105
2018-02-01    49484000      103
2018-03-01    52142000      103
2018-04-01    49005500      102
2018-05-01    48055500      101
2018-06-01    45686000      101
2018-07-01    47015000       99
2018-08-01    56392000       98
2018-09-01    52158500      101
2018-10-01    49573500       99
2018-11-01    53709000       97
2018-12-01    61566000       99
2019-01-01    57038500       98
2019-02-01    54490500       98
2019-03-01    49664000       98
2019-04-01    43742000       99
2019-05-01    49220000       97
2019-06-01    47204500       97
2019-07-01    12643500       96
2019-08-01    47223500       94
2019-09-01    57420500       97
2019-10-01    59286000       97
2019-11-01    61008500       99
2019-12-01    69387000       98
2020-01-01    67066500      101
2020-02-01    44161000       97
2020-03-01    35907000       87
2020-04-01    43411000       83
2020-05-01    47947500       87
2020-06-01    42362500       88
2020-07-01    46436000       90
2020-08-01    50191500       92
2020-09-01    50576500       88
2020-10-01    60584500       94
2020-11-01    51665500       96
2020-12-01    42923500       93

In [201]:
df_1_logdiff = np.log(df_1).diff().dropna()
df_1_logdiff

model = VAR(df_1_logdiff)
results = model.fit(8)
results.summary()

C:\Users\alswo\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:527: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  % freq, ValueWarning)

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Wed, 05, May, 2021
Time:                     18:24:45
--------------------------------------------------------------------
No. of Equations:         2.00000    BIC:                   -7.13044
Nobs:                     27.0000    HQIC:                  -8.27701
Log likelihood:           75.6675    FPE:                0.000244195
AIC:                     -8.76223    Det(Omega_mle):     9.19516e-05
--------------------------------------------------------------------
Results for equation 무보까국밥(상인점)
================================================================================
                   coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------
const                -0.001567         0.127543           -0.012           0.990
L1.무보까국밥(상인점)        -0.560112         0.313792           -1.785           0.074
L1.소비자동향지수           -1.568595         5.095063           -0.308           0.758
L2.무보까국밥(상인점)        -0.535519         0.345883           -1.548           0.122
L2.소비자동향지수            1.762447         3.588411            0.491           0.623
L3.무보까국밥(상인점)        -0.333974         0.384628           -0.868           0.385
L3.소비자동향지수           -2.102456         4.907731           -0.428           0.668
L4.무보까국밥(상인점)        -0.368034         0.401948           -0.916           0.360
L4.소비자동향지수            2.890178         4.285980            0.674           0.500
L5.무보까국밥(상인점)        -0.550905         0.439888           -1.252           0.210
L5.소비자동향지수           -1.708075         4.862601           -0.351           0.725
L6.무보까국밥(상인점)        -0.590231         0.471220           -1.253           0.210
L6.소비자동향지수            4.714326         4.438218            1.062           0.288
L7.무보까국밥(상인점)        -0.586618         0.558817           -1.050           0.294
L7.소비자동향지수           -5.471964         4.756920           -1.150           0.250
L8.무보까국밥(상인점)         0.036530         0.528038            0.069           0.945
L8.소비자동향지수            2.254764         5.377948            0.419           0.675
================================================================================

Results for equation 소비자동향지수
================================================================================
                   coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------
const                -0.015286         0.006793           -2.250           0.024
L1.무보까국밥(상인점)         0.008083         0.016713            0.484           0.629
L1.소비자동향지수           -0.604890         0.271366           -2.229           0.026
L2.무보까국밥(상인점)         0.002115         0.018422            0.115           0.909
L2.소비자동향지수           -0.443704         0.191121           -2.322           0.020
L3.무보까국밥(상인점)        -0.001512         0.020486           -0.074           0.941
L3.소비자동향지수           -0.373802         0.261388           -1.430           0.153
L4.무보까국밥(상인점)        -0.029831         0.021408           -1.393           0.163
L4.소비자동향지수           -0.290705         0.228274           -1.273           0.203
L5.무보까국밥(상인점)        -0.052988         0.023429           -2.262           0.024
L5.소비자동향지수           -0.114129         0.258985           -0.441           0.659
L6.무보까국밥(상인점)        -0.095781         0.025097           -3.816           0.000
L6.소비자동향지수            0.195365         0.236382            0.826           0.409
L7.무보까국밥(상인점)        -0.111782         0.029763           -3.756           0.000
L7.소비자동향지수           -0.222406         0.253356           -0.878           0.380
L8.무보까국밥(상인점)        -0.047540         0.028124           -1.690           0.091
L8.소비자동향지수           -0.652799         0.286432           -2.279           0.023
================================================================================

Correlation matrix of residuals
              무보까국밥(상인점)   소비자동향지수
무보까국밥(상인점)      1.000000 -0.099174
소비자동향지수        -0.099174  1.000000

In [202]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\VAR_전처리')
df_1.to_csv('상인월매출_소비자동향지수')

In [226]:
df_1

            무보까국밥(상인점)
Unnamed: 0
2018-01-01    61898000
2018-02-01    49484000
2018-03-01    52142000
2018-04-01    49005500
2018-05-01    48055500
2018-06-01    45686000
2018-07-01    47015000
2018-08-01    56392000
2018-09-01    52158500
2018-10-01    49573500
2018-11-01    53709000
2018-12-01    61566000
2019-01-01    57038500
2019-02-01    54490500
2019-03-01    49664000
2019-04-01    43742000
2019-05-01    49220000
2019-06-01    47204500
2019-07-01    12643500
2019-08-01    47223500
2019-09-01    57420500
2019-10-01    59286000
2019-11-01    61008500
2019-12-01    69387000
2020-01-01    67066500
2020-02-01    44161000
2020-03-01    35907000
2020-04-01    43411000
2020-05-01    47947500
2020-06-01    42362500
2020-07-01    46436000
2020-08-01    50191500
2020-09-01    50576500
2020-10-01    60584500
2020-11-01    51665500
2020-12-01    42923500

In [227]:
os.chdir(r'G:\공유 드라이브\SicParvisMagna\데이터\인공지능모델_데이터셋구축\경제지표')
esi = pd.read_csv('경제심리지수_2011~202104_월단위.csv', encoding = 'cp949')
esi = esi.transpose()
esi.columns = esi.iloc[0]
esi = esi.iloc[1:]
esi.index = esi['연월']
del esi['연월']
esi

           경제심리지수
연월
2011-01-01    111
2011-02-01    112
2011-03-01    109
2011-04-01    113
2011-05-01    111
...           ...
2020-12-01     86
2021-01-01     93
2021-02-01     97
2021-03-01    101
2021-04-01    105

[124 rows x 1 columns]

In [224]:
del df_1['경제심리지수']

In [228]:
#del df_1['소비자동향지수']
df_1['경제심리지수'] = esi['경제심리지수']
esi_list = [int(esi_each) for esi_each in df_1['경제심리지수']]
df_1['경제심리지수'] = esi_list
df_1

            무보까국밥(상인점)  경제심리지수
Unnamed: 0
2018-01-01    61898000     100
2018-02-01    49484000     101
2018-03-01    52142000      98
2018-04-01    49005500     100
2018-05-01    48055500     102
2018-06-01    45686000     100
2018-07-01    47015000      96
2018-08-01    56392000      97
2018-09-01    52158500      99
2018-10-01    49573500      95
2018-11-01    53709000      95
2018-12-01    61566000      95
2019-01-01    57038500      92
2019-02-01    54490500      97
2019-03-01    49664000      97
2019-04-01    43742000      98
2019-05-01    49220000      94
2019-06-01    47204500      95
2019-07-01    12643500      92
2019-08-01    47223500      92
2019-09-01    57420500      94
2019-10-01    59286000      94
2019-11-01    61008500      94
2019-12-01    69387000      95
2020-01-01    67066500      98
2020-02-01    44161000      90
2020-03-01    35907000      70
2020-04-01    43411000      63
2020-05-01    47947500      65
2020-06-01    42362500      70
2020-07-01    46436000      78
2020-08-01    50191500      84
2020-09-01    50576500      78
2020-10-01    60584500      89
2020-11-01    51665500      92
2020-12-01    42923500      86

In [229]:
df_1_logdiff = np.log(df_1).diff().dropna()
df_1_logdiff

model = VAR(df_1_logdiff)
results = model.fit(8)
results.summary()

C:\Users\alswo\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:527: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  % freq, ValueWarning)

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Wed, 05, May, 2021
Time:                     18:33:21
--------------------------------------------------------------------
No. of Equations:         2.00000    BIC:                   -5.97359
Nobs:                     27.0000    HQIC:                  -7.12017
Log likelihood:           60.0501    FPE:                0.000776512
AIC:                     -7.60539    Det(Omega_mle):     0.000292395
--------------------------------------------------------------------
Results for equation 무보까국밥(상인점)
================================================================================
                   coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------
const                -0.037178         0.100601           -0.370           0.712
L1.무보까국밥(상인점)        -0.388673         0.319628           -1.216           0.224
L1.경제심리지수            -2.167112         2.321716           -0.933           0.351
L2.무보까국밥(상인점)        -0.623602         0.289993           -2.150           0.032
L2.경제심리지수             0.884156         1.362516            0.649           0.516
L3.무보까국밥(상인점)        -0.260500         0.346779           -0.751           0.453
L3.경제심리지수            -1.523488         1.774270           -0.859           0.391
L4.무보까국밥(상인점)        -0.525227         0.307522           -1.708           0.088
L4.경제심리지수             2.556229         2.198812            1.163           0.245
L5.무보까국밥(상인점)        -0.460495         0.394554           -1.167           0.243
L5.경제심리지수            -4.394113         2.208534           -1.990           0.047
L6.무보까국밥(상인점)        -0.747710         0.391810           -1.908           0.056
L6.경제심리지수             4.632632         2.826633            1.639           0.101
L7.무보까국밥(상인점)        -0.690292         0.529969           -1.303           0.193
L7.경제심리지수            -3.114637         3.171757           -0.982           0.326
L8.무보까국밥(상인점)        -0.307644         0.429921           -0.716           0.474
L8.경제심리지수             0.355704         3.368880            0.106           0.916
================================================================================

Results for equation 경제심리지수
================================================================================
                   coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------
const                -0.029407         0.013405           -2.194           0.028
L1.무보까국밥(상인점)         0.040401         0.042590            0.949           0.343
L1.경제심리지수            -0.163610         0.309363           -0.529           0.597
L2.무보까국밥(상인점)        -0.013547         0.038641           -0.351           0.726
L2.경제심리지수            -0.129135         0.181552           -0.711           0.477
L3.무보까국밥(상인점)        -0.021475         0.046207           -0.465           0.642
L3.경제심리지수            -0.305757         0.236417           -1.293           0.196
L4.무보까국밥(상인점)        -0.071527         0.040977           -1.746           0.081
L4.경제심리지수            -0.215062         0.292986           -0.734           0.463
L5.무보까국밥(상인점)        -0.090924         0.052573           -1.729           0.084
L5.경제심리지수            -0.398904         0.294282           -1.356           0.175
L6.무보까국밥(상인점)        -0.156579         0.052208           -2.999           0.003
L6.경제심리지수             0.456699         0.376642            1.213           0.225
L7.무보까국밥(상인점)        -0.141091         0.070617           -1.998           0.046
L7.경제심리지수            -0.813866         0.422629           -1.926           0.054
L8.무보까국밥(상인점)        -0.010840         0.057286           -0.189           0.850
L8.경제심리지수            -0.388445         0.448895           -0.865           0.387
================================================================================

Correlation matrix of residuals
              무보까국밥(상인점)    경제심리지수
무보까국밥(상인점)      1.000000 -0.315907
경제심리지수         -0.315907  1.000000

In [231]:
df_1.to_csv('상인점월매출.csv', encoding = 'cp949')

In [238]:
kospi = pd.read_csv('KOSPI_2011~202104_월단위.csv', encoding = 'cp949')
kospi.index = kospi['연월']
del kospi['연월']
kospi

              종가
연월
2011-01-01  2070
2011-02-01  1939
2011-03-01  2107
2011-04-01  2192
2011-05-01  2142
...          ...
2020-12-01  2873
2021-01-01  2976
2021-02-01  3013
2021-03-01  3061
2021-04-01  3148

[124 rows x 1 columns]

In [242]:
#del df_1['경제심리지수']
df_1['kospi'] = kospi['종가']
kospi_list = [int(kospi_each) for kospi_each in df_1['kospi']]
df_1['kospi'] = kospi_list
df_1

            무보까국밥(상인점)  kospi
Unnamed: 0
2018-01-01    61898000   2566
2018-02-01    49484000   2427
2018-03-01    52142000   2446
2018-04-01    49005500   2515
2018-05-01    48055500   2423
2018-06-01    45686000   2326
2018-07-01    47015000   2295
2018-08-01    56392000   2323
2018-09-01    52158500   2343
2018-10-01    49573500   2030
2018-11-01    53709000   2097
2018-12-01    61566000   2041
2019-01-01    57038500   2205
2019-02-01    54490500   2195
2019-03-01    49664000   2141
2019-04-01    43742000   2204
2019-05-01    49220000   2042
2019-06-01    47204500   2131
2019-07-01    12643500   2025
2019-08-01    47223500   1968
2019-09-01    57420500   2063
2019-10-01    59286000   2083
2019-11-01    61008500   2088
2019-12-01    69387000   2198
2020-01-01    67066500   2119
2020-02-01    44161000   1987
2020-03-01    35907000   1755
2020-04-01    43411000   1948
2020-05-01    47947500   2030
2020-06-01    42362500   2108
2020-07-01    46436000   2249
2020-08-01    50191500   2326
2020-09-01    50576500   2328
2020-10-01    60584500   2267
2020-11-01    51665500   2591
2020-12-01    42923500   2873

In [243]:
df_1_logdiff = np.log(df_1).diff().dropna()
df_1_logdiff

model = VAR(df_1_logdiff)
results = model.fit(8)
results.summary()

C:\Users\alswo\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:527: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  % freq, ValueWarning)

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Wed, 05, May, 2021
Time:                     18:40:32
--------------------------------------------------------------------
No. of Equations:         2.00000    BIC:                   -5.31617
Nobs:                     27.0000    HQIC:                  -6.46274
Log likelihood:           51.1748    FPE:                 0.00149853
AIC:                     -6.94796    Det(Omega_mle):     0.000564270
--------------------------------------------------------------------
Results for equation 무보까국밥(상인점)
================================================================================
                   coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------
const                -0.027541         0.093984           -0.293           0.769
L1.무보까국밥(상인점)        -0.646187         0.294684           -2.193           0.028
L1.kospi             -0.390695         2.097803           -0.186           0.852
L2.무보까국밥(상인점)        -0.642118         0.356980           -1.799           0.072
L2.kospi             -0.702045         2.105706           -0.333           0.739
L3.무보까국밥(상인점)        -0.394732         0.351585           -1.123           0.262
L3.kospi             -1.710603         1.882225           -0.909           0.363
L4.무보까국밥(상인점)        -0.330362         0.363552           -0.909           0.364
L4.kospi              0.557161         1.855823            0.300           0.764
L5.무보까국밥(상인점)        -0.619884         0.373227           -1.661           0.097
L5.kospi             -0.388447         1.990216           -0.195           0.845
L6.무보까국밥(상인점)        -0.597685         0.429453           -1.392           0.164
L6.kospi             -1.042271         2.013898           -0.518           0.605
L7.무보까국밥(상인점)        -0.576419         0.416880           -1.383           0.167
L7.kospi              0.428662         1.994448            0.215           0.830
L8.무보까국밥(상인점)        -0.354222         0.340093           -1.042           0.298
L8.kospi             -1.250397         2.309499           -0.541           0.588
================================================================================

Results for equation kospi
================================================================================
                   coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------
const                 0.014816         0.011908            1.244           0.213
L1.무보까국밥(상인점)         0.077660         0.037336            2.080           0.038
L1.kospi              0.098512         0.265784            0.371           0.711
L2.무보까국밥(상인점)         0.028075         0.045228            0.621           0.535
L2.kospi              0.307047         0.266786            1.151           0.250
L3.무보까국밥(상인점)        -0.001933         0.044545           -0.043           0.965
L3.kospi             -0.036885         0.238471           -0.155           0.877
L4.무보까국밥(상인점)         0.016297         0.046061            0.354           0.723
L4.kospi              0.274430         0.235126            1.167           0.243
L5.무보까국밥(상인점)        -0.068973         0.047287           -1.459           0.145
L5.kospi              0.450280         0.252153            1.786           0.074
L6.무보까국밥(상인점)         0.002500         0.054410            0.046           0.963
L6.kospi             -0.018706         0.255154           -0.073           0.942
L7.무보까국밥(상인점)         0.049678         0.052817            0.941           0.347
L7.kospi              0.476192         0.252690            1.884           0.059
L8.무보까국밥(상인점)         0.092696         0.043089            2.151           0.031
L8.kospi              0.104612         0.292606            0.358           0.721
================================================================================

Correlation matrix of residuals
              무보까국밥(상인점)     kospi
무보까국밥(상인점)      1.000000  0.314150
kospi           0.314150  1.000000

In [245]:
def return_(x,y):
    return x+y

return_(1,2)

3